### Limpieza de C√≥digo, Distrito, Departamento, Municipio (David Arag√≥n)

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv('UnifiedData/UnifiedDataV3.csv')

In [3]:
data[['CODIGO', 'DISTRITO', 'DEPARTAMENTO', 'MUNICIPIO']]

             CODIGO DISTRITO  DEPARTAMENTO  MUNICIPIO
0     16-01-0138-46   16-031  ALTA VERAPAZ      COBAN
1     16-01-0139-46   16-031  ALTA VERAPAZ      COBAN
2     16-01-0140-46   16-031  ALTA VERAPAZ      COBAN
3     16-01-0141-46   16-005  ALTA VERAPAZ      COBAN
4     16-01-0142-46   16-005  ALTA VERAPAZ      COBAN
...             ...      ...           ...        ...
9325  19-09-0040-46   19-021        ZACAPA   LA UNION
9326  19-09-0048-46   19-021        ZACAPA   LA UNION
9327  19-10-0013-46   19-015        ZACAPA      HUITE
9328  19-10-1009-46   19-015        ZACAPA      HUITE
9329  19-11-0018-46   19-020        ZACAPA  SAN JORGE

[9330 rows x 4 columns]

La variable CODIGO al ser una variable de identificacion no es relevante, por lo que no se estara tabajando con esta variable

In [4]:
# Funci√≥n para limpiar datos categ√≥ricos nominales
def limpiarDatosCategNominales(data):
    columnas = ['DISTRITO', 'DEPARTAMENTO', 'MUNICIPIO']

    print("üîç Verificando valores nulos en cada columna...")
    display(data[columnas].isnull().sum())
    print()

    # Convertir a tipo 'category'
    print("üîÑ Convirtiendo columnas a tipo 'category'...")
    for col in columnas:
        data[col] = data[col].astype('category')
        print(f"‚úÖ Columna {col} convertida correctamente.")
    print()

    # Mostrar categor√≠as √∫nicas de cada columna
    print("üî¢ Mostrando categor√≠as √∫nicas por columna:")
    for col in columnas:
        print(f"üìä {col}: {data[col].cat.categories}")
    print()

    return data

In [5]:
# Limpiar datos categ√≥ricos
data = limpiarDatosCategNominales(data)

üîç Verificando valores nulos en cada columna...

DISTRITO        208
DEPARTAMENTO      0
MUNICIPIO         0
dtype: int64

üîÑ Convirtiendo columnas a tipo 'category'...
‚úÖ Columna DISTRITO convertida correctamente.
‚úÖ Columna DEPARTAMENTO convertida correctamente.
‚úÖ Columna MUNICIPIO convertida correctamente.

üî¢ Mostrando categor√≠as √∫nicas por columna:
üìä DISTRITO: Index(['01-', '01-001', '01-101', '01-102', '01-103', '01-104', '01-105',
       '01-106', '01-107', '01-108',
       ...
       '22-032', '22-033', '22-034', '22-035', '22-036', '22-037', '22-038',
       '22-039', '25-000', '99-001'],
      dtype='object', length=690)
üìä DEPARTAMENTO: Index(['ALTA VERAPAZ', 'BAJA VERAPAZ', 'CHIMALTENANGO', 'CHIQUIMULA',
       'CIUDAD CAPITAL', 'EL PROGRESO', 'ESCUINTLA', 'GUATEMALA',
       'HUEHUETENANGO', 'IZABAL', 'JALAPA', 'JUTIAPA', 'PETEN',
       'QUETZALTENANGO', 'QUICHE', 'RETALHULEU', 'SACATEPEQUEZ', 'SAN MARCOS',
       'SANTA ROSA', 'SOLOLA', 'SUCHITEPEQUEZ', 'TOTONICAPAN', 'ZACAPA'],
      dtype='object')
üìä MUNICIPIO: Index(['ACATENANGO', 'AGUA BLANCA', 'AGUACATAN', 'ALMOLONGA', 'ALOTENANGO',
       'AMATITLAN', 'ANTIGUA GUATEMALA', 'ASUNCION MITA', 'ATESCATEMPA',
       'AYUTLA',
       ...
       'ZONA 24', 'ZONA 3', 'ZONA 4', 'ZONA 5', 'ZONA 6', 'ZONA 7', 'ZONA 8',
       'ZONA 9', 'ZUNIL', 'ZUNILITO'],
      dtype='object', length=349)

In [6]:
# Funci√≥n para agrupar distritos por prefijo
def agruparPorPrefijo(data, columna, longitud_prefijo=2, nuevaCategoria='Otros'):
    print(f"üîß Agrupando categor√≠as en la columna '{columna}' por prefijos...")
    
    # Extraer los primeros 'longitud_prefijo' d√≠gitos
    prefijos = data[columna].str[:longitud_prefijo]
    
    # Crear un mapeo de prefijos a la nueva categor√≠a
    categorias_prefijo = prefijos.unique()
    print("Categor√≠as originales:", categorias_prefijo)
    
    # Agrupar todas las categor√≠as con el mismo prefijo bajo una nueva categor√≠a
    data[columna] = data[columna].apply(lambda x: f"{x[:longitud_prefijo]}" if x else x)
    
    print(f"‚úÖ Las categor√≠as han sido agrupadas por prefijos en '{nuevaCategoria}'.")
    
    # Convertir nuevamente a categor√≠a para optimizar
    data[columna] = data[columna].astype('category')

    return data

In [7]:
# Agrupar distritos por prefijo
data = agruparPorPrefijo(data, 'DISTRITO')

üîß Agrupando categor√≠as en la columna 'DISTRITO' por prefijos...
Categor√≠as originales: ['16' nan '25' '15' '04' '20' '99' '01' '02' '05' '13' '18' '21' '22' '17'
 '09' '14' '11' '03' '06' '12' '07' '10' '08' '19']
‚úÖ Las categor√≠as han sido agrupadas por prefijos en 'Otros'.

In [8]:
# Funci√≥n para contar categor√≠as
def contarCategorias(data, columna):
    print(f"üîç Contando categor√≠as en la columna '{columna}'...")
    conteoCategorias = data[columna].value_counts()
    print("üìä Conteo de cada categor√≠a:")
    display(conteoCategorias)
    return conteoCategorias

In [9]:
# Verificar el resultado
contarCategorias(data, 'DISTRITO')

üîç Contando categor√≠as en la columna 'DISTRITO'...
üìä Conteo de cada categor√≠a:

DISTRITO
01    2896
05     617
12     555
13     510
09     472
10     378
16     371
18     366
04     356
17     354
03     317
11     313
22     303
14     242
20     167
06     155
21     150
07     136
02     122
15     112
19      90
08      88
99      34
25      18
Name: count, dtype: int64

DISTRITO
01    2896
05     617
12     555
13     510
09     472
10     378
16     371
18     366
04     356
17     354
03     317
11     313
22     303
14     242
20     167
06     155
21     150
07     136
02     122
15     112
19      90
08      88
99      34
25      18
Name: count, dtype: int64

In [10]:
# Funci√≥n para analizar la distribuci√≥n de una columna categ√≥rica
def analizarDistribucionColumna(data, columna, umbral=0.05, flag=False):
    print(f"üîç Analizando la distribuci√≥n de la columna '{columna}'...")
    distribucion = data[columna].value_counts(normalize=True)
    print("üìä Distribuci√≥n de frecuencias:")
    display(distribucion)

    categoriasAgrupar = distribucion[distribucion < umbral].index.tolist()

    if categoriasAgrupar:
        print(f"‚ö†Ô∏è Se sugiere agrupar las siguientes categor√≠as en '{columna}': {categoriasAgrupar}\n")
    else:
        print("‚úÖ No es necesario agrupar categor√≠as en esta columna.\n")

    if flag:
        return distribucion

In [11]:
# Analizar distribuci√≥n de columnas
analizarDistribucionColumna(data, 'DISTRITO')
analizarDistribucionColumna(data, 'DEPARTAMENTO')
analizarDistribucionColumna(data, 'MUNICIPIO')

üîç Analizando la distribuci√≥n de la columna 'DISTRITO'...
üìä Distribuci√≥n de frecuencias:

DISTRITO
01    0.317474
05    0.067639
12    0.060842
13    0.055909
09    0.051743
10    0.041438
16    0.040671
18    0.040123
04    0.039027
17    0.038807
03    0.034751
11    0.034313
22    0.033216
14    0.026529
20    0.018307
06    0.016992
21    0.016444
07    0.014909
02    0.013374
15    0.012278
19    0.009866
08    0.009647
99    0.003727
25    0.001973
Name: proportion, dtype: float64

‚ö†Ô∏è Se sugiere agrupar las siguientes categor√≠as en 'DISTRITO': ['10', '16', '18', '04', '17', '03', '11', '22', '14', '20', '06', '21', '07', '02', '15', '19', '08', '99', '25']

üîç Analizando la distribuci√≥n de la columna 'DEPARTAMENTO'...
üìä Distribuci√≥n de frecuencias:

DEPARTAMENTO
CIUDAD CAPITAL    0.167631
GUATEMALA         0.158307
ESCUINTLA         0.067310
SAN MARCOS        0.061522
HUEHUETENANGO     0.055305
QUETZALTENANGO    0.052626
SUCHITEPEQUEZ     0.041265
ALTA VERAPAZ      0.040086
IZABAL            0.039443
PETEN             0.039228
CHIMALTENANGO     0.038478
SACATEPEQUEZ      0.034191
RETALHULEU        0.033869
JUTIAPA           0.033226
QUICHE            0.026152
CHIQUIMULA        0.018221
SANTA ROSA        0.016827
JALAPA            0.016184
SOLOLA            0.014791
EL PROGRESO       0.013398
BAJA VERAPAZ      0.012219
ZACAPA            0.010075
TOTONICAPAN       0.009646
Name: proportion, dtype: float64

‚ö†Ô∏è Se sugiere agrupar las siguientes categor√≠as en 'DEPARTAMENTO': ['SUCHITEPEQUEZ', 'ALTA VERAPAZ', 'IZABAL', 'PETEN', 'CHIMALTENANGO', 'SACATEPEQUEZ', 'RETALHULEU', 'JUTIAPA', 'QUICHE', 'CHIQUIMULA', 'SANTA ROSA', 'JALAPA', 'SOLOLA', 'EL PROGRESO', 'BAJA VERAPAZ', 'ZACAPA', 'TOTONICAPAN']

üîç Analizando la distribuci√≥n de la columna 'MUNICIPIO'...
üìä Distribuci√≥n de frecuencias:

MUNICIPIO
ZONA 1                       0.067846
MIXCO                        0.045874
VILLA NUEVA                  0.039657
QUETZALTENANGO               0.026581
RETALHULEU                   0.019829
                               ...
SAN BARTOLOME JOCOTENANGO    0.000107
SAN MARCOS LA LAGUNA         0.000107
PETATAN                      0.000107
CHICHE                       0.000107
ZUNIL                        0.000107
Name: proportion, Length: 349, dtype: float64

‚ö†Ô∏è Se sugiere agrupar las siguientes categor√≠as en 'MUNICIPIO': ['MIXCO', 'VILLA NUEVA', 'QUETZALTENANGO', 'RETALHULEU', 'ZONA 7', 'MAZATENANGO', 'ESCUINTLA', 'CHIMALTENANGO', 'HUEHUETENANGO', 'PUERTO BARRIOS', 'SAN MIGUEL PETAPA', 'MORALES', 'ZONA 12', 'AMATITLAN', 'SANTA LUCIA COTZUMALGUAPA', 'ANTIGUA GUATEMALA', 'COBAN', 'ZONA 18', 'JUTIAPA', 'SAN JUAN SACATEPEQUEZ', 'MALACATAN', 'COATEPEQUE', 'JALAPA', 'SAN PEDRO SACATEPEQUEZ', 'LA LIBERTAD', 'ZONA 6', 'VILLA CANALES', 'SAN MARCOS', 'TIQUISATE', 'ZONA 11', 'SANTA CRUZ DEL QUICHE', 'LA DEMOCRACIA', 'SAN JOSE', 'CHINAUTLA', 'CHIQUIMULA', 'ZONA 2', 'ZONA 19', 'ZONA 13', 'SAN BENITO', 'SAN PEDRO CARCHA', 'SAN JOSE PINULA', 'NUEVA CONCEPCION', 'ZACAPA', 'FLORES', 'PALIN', 'LIVINGSTON', 'IXCAN', 'FRAIJANES', 'ZONA 3', 'TOTONICAPAN', 'SOLOLA', 'SAYAXCHE', 'SAN AGUSTIN ACASAGUASTLAN', 'SAN CRISTOBAL VERAPAZ', 'LOS AMATES', 'ZONA 21', 'SALAMA', 'CHIQUIMULILLA', 'ZONA 5', 'CIUDAD VIEJA', 'SANTA CRUZ BARILLAS', 'SANTA CATARINA PINULA', 'JALPATAGUA', 'COMITANCILLO', 'JACALTENANGO', 'ZONA 9', 'SUMPANGO', 'ESQUIPULAS', 'MASAGUA', 'SAN ANTONIO SUCHITEPEQUEZ', 'TACANA', 'BARBERENA', 'ZONA 10', 'SAN JUAN OSTUNCALCO', 'PALENCIA', 'SANARATE', 'POPTUN', 'LA GOMERA', 'SAN JUAN COMALAPA', 'LAS CRUCES', 'CHIANTLA', 'SAN LUCAS SACATEPEQUEZ', 'JOCOTENANGO', 'PATULUL', 'TACTIC', 'SAN MARTIN JILOTEPEQUE', 'SAN LUIS', 'ASUNCION MITA', 'SAN ANDRES VILLA SECA', 'CUYOTENANGO', 'GUASTATOYA', 'TECPAN GUATEMALA', 'SANTO TOMAS LA UNION', 'AYUTLA', 'SAN CRISTOBAL TOTONICAPAN', 'JOCOTAN', 'NEBAJ', 'SAN PABLO', 'MOYUTA', 'LA TINTA', 'SAN SEBASTIAN', 'QUEZALTEPEQUE', 'NUEVA SANTA ROSA', 'ZONA 17', 'DOLORES', 'SANTA LUCIA MILPAS ALTAS', 'SAN MIGUEL CHICAJ', 'NUEVO PROGRESO', 'RABINAL', 'EL TUMBADOR', 'CONCEPCION TUTUAPA', 'MATAQUESCUINTLA', 'PANAJACHEL', 'SAN MIGUEL USPANTAN', 'NUEVO SAN CARLOS', 'EL ASINTAL', 'AGUACATAN', 'PANZOS', 'SAN JUAN CHAMELCO', 'ZARAGOZA', 'PATZUN', 'CUILAPA', 'COMAPA', 'SAN LORENZO', 'SANTA EULALIA', 'MALACATANCITO', 'SAN FRANCISCO ZAPOTITLAN', 'SENAHU', 'SIQUINALA', 'ATESCATEMPA', 'MONJAS', 'MELCHOR DE MENCOS', 'LA ESPERANZA', 'ZONA 16', 'SAN ANDRES', 'SAN RAFAEL PIE DE LA CUESTA', 'SAN MARTIN ZAPOTITLAN', 'SAN JOSE LA MAQUINA', 'QUESADA', 'SAN RAYMUNDO', 'SAN PEDRO AYAMPUC', 'CHISEC', 'CHICACAO', 'SAN ILDEFONSO IXTAHUACAN', 'SAN FELIPE', 'SAN PEDRO SOLOMA', 'SANTIAGO SACATEPEQUEZ', 'LA BLANCA', 'PAJAPITA', 'SANTO TOMAS CHICHICASTENANGO', 'SIPACAPA', 'YUPILTEPEQUE', 'TEJUTLA', 'FRAY BARTOLOME DE LAS CASAS', 'IPALA', 'EL ESTOR', 'TECULUTAN', 'SANTA MARIA CAHABON', 'SAN PEDRO NECTA', 'SANTA ANA', 'ZONA 14', 'CATARINA', 'SAN ANTONIO HUISTA', 'CUILCO', 'CHAMPERICO', 'SAN LUIS JILOTEPEQUE', 'SAN ANDRES ITZAPA', 'PACHALUN', 'SAN MIGUEL IXTAHUACAN', 'EL CHAL', 'EL PROGRESO', 'CONGUACO', 'CHICAMAN', 'SAN PEDRO YEPOCAPA', 'IZTAPA', 'PURULHA', 'SAN JOSE POAQUIL', 'PASTORES', 'SANTA CATARINA MITA', 'EL JICARO', 'SAN VICENTE PACAYA', 'NENTON', 'SANTA LUCIA UTATLAN', 'SANSARE', 'PARRAMOS', 'SAN MARTIN SACATEPEQUEZ', 'SAN LUCAS TOLIMAN', 'SAN JOSE OJETENAM', 'ZONA 15', 'GENOVA COSTA CUCA', 'JOYABAJ', 'GUALAN', 'COLOMBA COSTA CUCA', 'TAXISCO', 'TODOS SANTOS CUCHUMATAN', 'CUBULCO', 'SANTIAGO ATITLAN', 'SANTA BARBARA', 'SALCAJA', 'SAN SEBASTIAN COATAN', 'ORATORIO', 'SAN CARLOS ALZATATE', 'SAN FRANCISCO', 'CANTEL', 'SAN MATEO IXTATAN', 'RAXRUHA', 'LANQUIN', 'SAN JOSE ACATEMPA', 'SAN PEDRO LA LAGUNA', 'SAN MIGUEL DUENAS', 'MOMOSTENANGO', 'SANTO DOMINGO SUCHITEPEQUEZ', 'GRANADOS', 'GUANAGAZAPA', 'EL TEJAR', 'ALOTENANGO', 'SAN GABRIEL', 'SAN JUAN IXCOY', 'CHAJUL', 'SAMAYAC', 'PASACO', 'FLORES COSTA CUCA', 'CUNEN', 'SIPACATE', 'SAN CARLOS SIJA', 'GUAZACAPAN', 'SANTA CATARINA IXTAHUACAN', 'IXCHIGUAN', 'CONCEPCION HUISTA', 'SAN ANDRES SAJCABAJA', 'NAHUALA', 'SAN PEDRO PINULA', 'SAN PABLO JOCOPILAS', 'COLOTENANGO', 'RIO BRAVO', 'SAN ANDRES SEMETABAJ', 'CASILLAS', 'CONCEPCION LAS MINAS', 'UNION CANTINIL', 'ACATENANGO', 'CABRICAN', 'CAMOTAN', 'CHAHAL', 'SAN JOSE DEL GOLFO', 'SIBINAL', 'SANTO DOMINGO XENACOJ', 'SANTA MARIA IXHUATAN', 'SAN JERONIMO', 'LA REFORMA', 'SAN MIGUEL POCHUTA', 'TAJUMULCO', 'AGUA BLANCA', 'PATZICIA', 'SACAPULAS', 'SAN ANTONIO LA PAZ', 'ESQUIPULAS PALO GORDO', 'SANTA MARIA CHIQUIMULA', 'SAN SEBASTIAN HUEHUETENANGO', 'OCOS', 'SAN MIGUEL TUCURU', 'SAN BARTOLOME MILPAS ALTAS', 'CHUARRANCHO', 'MORAZAN', 'HUITAN', 'OLINTEPEQUE', 'SANTA APOLONIA', 'SAN MANUEL CHAPARRON', 'SAN JOSE EL RODEO', 'CANILLA', 'SAN FRANCISCO EL ALTO', 'CABA√ëAS', 'PALESTINA DE LOS ALTOS', 'LA UNION', 'SAN RAFAEL LAS FLORES', 'SANTIAGO CHIMALTENANGO', 'EL PALMAR', 'RIO BLANCO', 'SAN JUAN LA LAGUNA', 'ZONA 8', 'SANTA MARIA VISITACION', 'SAN CRISTOBAL ACASAGUASTLAN', 'SAN JOSE LA ARADA', 'SAN CRISTOBAL CUCHO', 'SAN ANDRES XECUL', 'MAGDALENA MILPAS ALTAS', 'SANTA MARIA DE JESUS', 'SANTA CRUZ MULUA', 'SANTA CRUZ VERAPAZ', 'SANTA CLARA LA LAGUNA', 'SAN ANTONIO AGUAS CALIENTES', 'SAN JUAN TECUACO', 'ZACUALPA', 'EL ADELANTO', 'SANTA CATARINA BARAHONA', 'SANTA CRUZ EL CHOL', 'ZONA 4', 'SAN JOSE EL IDOLO', 'SAN DIEGO', 'SAN JUAN ERMITA', 'SAN JUAN COTZAL', 'ZAPOTITLAN', 'ZUNILITO', 'TECTITAN', 'USUMATLAN', 'CONCEPCION CHIQUIRICHAPA', 'SIBILIA', 'CHINIQUE', 'SAN RAFAEL PETZAL', 'SAN PEDRO JOCOPILAS', 'PUEBLO NUEVO', 'SAN BERNARDINO', 'RIO HONDO', 'PUEBLO NUEVO VI√ëAS', 'SANTA ROSA DE LIMA', 'SAN RAFAEL LA INDEPENDENCIA', 'SANTA ANA HUISTA', 'ESTANZUELA', 'GUATEMALA', 'SANTA CRUZ NARANJO', 'EL QUETZAL', 'ALMOLONGA', 'SAN JACINTO', 'ZONA 24', 'SANTA LUCIA LA REFORMA', 'HUITE', 'SAN MATEO', 'SAN ANTONIO SACATEPEQUEZ', 'SAN PABLO LA LAGUNA', 'SAN MIGUEL ACATAN', 'SAN ANTONIO ILOTENANGO', 'OLOPA', 'JEREZ', 'SANTA CRUZ BALANYA', 'TAMAHU', 'SAN JUAN ATITAN', 'SAN JOSE CHACAYA', 'CAJOLA', 'SAN FRANCISCO LA UNION', 'SAN JORGE', 'PATZITE', 'SAN MIGUEL SIGUILA', 'SAN ANTONIO PALOPO', 'SAN BARTOLO AGUAS CALIENTES', 'SAN BARTOLOME JOCOTENANGO', 'SAN MARCOS LA LAGUNA', 'PETATAN', 'CHICHE', 'ZUNIL']

In [12]:
# Funci√≥n para agrupar categor√≠as
def agruparCategorias(data, columna, categoriasAgrupar, nuevaCategoria='Otras'):
    print(f"üîß Agrupando categor√≠as en la columna '{columna}'...")
    data[columna] = data[columna].apply(lambda x: nuevaCategoria if x in categoriasAgrupar else x)
    print(f"‚úÖ Las categor√≠as {categoriasAgrupar} se han agrupado bajo '{nuevaCategoria}'.")
    
    # Convertir nuevamente a categor√≠a para optimizar
    data[columna] = data[columna].astype('category')

    return data

In [13]:
# Agrupar categor√≠as en 'DEPARTAMENTO'
categorias_para_agrupar = ['SUCHITEPEQUEZ', 'ALTA VERAPAZ', 'IZABAL', 'PETEN', 'CHIMALTENANGO', 'SACATEPEQUEZ', 'RETALHULEU', 'JUTIAPA', 'QUICHE', 'CHIQUIMULA', 'SANTA ROSA', 'JALAPA', 'SOLOLA', 'EL PROGRESO', 'BAJA VERAPAZ', 'ZACAPA', 'TOTONICAPAN']
data = agruparCategorias(data, 'DEPARTAMENTO', categorias_para_agrupar, nuevaCategoria='Otros')

üîß Agrupando categor√≠as en la columna 'DEPARTAMENTO'...
‚úÖ Las categor√≠as ['SUCHITEPEQUEZ', 'ALTA VERAPAZ', 'IZABAL', 'PETEN', 'CHIMALTENANGO', 'SACATEPEQUEZ', 'RETALHULEU', 'JUTIAPA', 'QUICHE', 'CHIQUIMULA', 'SANTA ROSA', 'JALAPA', 'SOLOLA', 'EL PROGRESO', 'BAJA VERAPAZ', 'ZACAPA', 'TOTONICAPAN'] se han agrupado bajo 'Otros'.

In [14]:
# Lista de categor√≠as a agrupar en 'DISTRITO'
categoriasParaAgrupar = ['10', '16', '18', '04', '17', 
                         '03', '11', '22', '14', '20', 
                         '06', '21', '07', '02', '15', 
                         '19', '08', '99', '25']

# Agrupar las categor√≠as en 'DISTRITO'
data = agruparCategorias(data, 'DISTRITO', categoriasParaAgrupar, nuevaCategoria='Otros')

üîß Agrupando categor√≠as en la columna 'DISTRITO'...
‚úÖ Las categor√≠as ['10', '16', '18', '04', '17', '03', '11', '22', '14', '20', '06', '21', '07', '02', '15', '19', '08', '99', '25'] se han agrupado bajo 'Otros'.

In [15]:
# Funci√≥n para reemplazar valores nulos en los distritos agrupados
def reemplazarDistritosVacios(data, columna_distrito, valor_reemplazo='No identificado'):
    """
    Reemplaza los valores nulos en una columna espec√≠fica por un valor dado.

    Par√°metros:
    - data: DataFrame que contiene los datos.
    - columna_distrito: Nombre de la columna de distritos.
    - valor_reemplazo: Valor con el cual se reemplazar√°n los nulos.

    Retorna:
    - El DataFrame con la columna de distritos modificada.
    """
    print(f"üîß Reemplazando valores nulos en la columna '{columna_distrito}' con '{valor_reemplazo}'...")

    # Identificar las filas donde el distrito est√° vac√≠o y pertenece a la categor√≠a 'Otros'
    data[columna_distrito] = data[columna_distrito].replace(np.nan, valor_reemplazo)

    print(f"‚úÖ Los valores nulos en la columna '{columna_distrito}' se han reemplazado con '{valor_reemplazo}'.")

    return data

# Reemplazar valores nulos en los distritos agrupados en 'Otros'
data = reemplazarDistritosVacios(data, 'DISTRITO')

# Verificar el resultado
contarCategorias(data, 'DISTRITO')

üîß Reemplazando valores nulos en la columna 'DISTRITO' con 'No identificado'...
‚úÖ Los valores nulos en la columna 'DISTRITO' se han reemplazado con 'No identificado'.
üîç Contando categor√≠as en la columna 'DISTRITO'...
üìä Conteo de cada categor√≠a:

DISTRITO
Otros    4072
01       2896
05        617
12        555
13        510
09        472
Name: count, dtype: int64

DISTRITO
Otros    4072
01       2896
05        617
12        555
13        510
09        472
Name: count, dtype: int64

In [16]:
# Funci√≥n para convertir categor√≠as a num√©ricas
def convertirCategoriasANumericas(data, columns):
    print("üî¢ Convirtiendo categor√≠as a representaci√≥n num√©rica...")
    for col in columns:
        labelEncoder = LabelEncoder()
        data[f"{col}_num"] = labelEncoder.fit_transform(data[col])
        print(f"\nüîç Mapeo para la columna '{col}':")
        for categoria, numero in zip(labelEncoder.classes_, labelEncoder.transform(labelEncoder.classes_)):
            print(f"  {categoria} -> {numero}")
        print(f"üÜï Columna {col}_num a√±adida con √©xito.")
    return data

In [17]:
# Funci√≥n para agrupar municipios basados en la categor√≠a del departamento
def agruparMunicipiosPorDepartamento(data, columna_municipio, columna_departamento, departamentos_agrupados, nuevaCategoria='Otros'):
    """
    Agrupa municipios cuyos departamentos han sido agrupados bajo una categor√≠a espec√≠fica.

    Par√°metros:
    - data: DataFrame que contiene los datos.
    - columna_municipio: Nombre de la columna de municipios.
    - columna_departamento: Nombre de la columna de departamentos.
    - departamentos_agrupados: Lista de departamentos que han sido agrupados.
    - nuevaCategoria: Nombre de la nueva categor√≠a para los municipios.

    Retorna:
    - El DataFrame con la columna de municipios modificada.
    """
    print(f"üîß Agrupando municipios en la columna '{columna_municipio}' para los departamentos agrupados...")

    # Reemplazar los municipios correspondientes a los departamentos agrupados
    data[columna_municipio] = data.apply(
        lambda x: nuevaCategoria if x[columna_departamento] in departamentos_agrupados else x[columna_municipio], axis=1)

    print(f"‚úÖ Los municipios de los departamentos {departamentos_agrupados} se han agrupado bajo '{nuevaCategoria}'.")

    # Convertir nuevamente a categor√≠a para optimizar
    data[columna_municipio] = data[columna_municipio].astype('category')

    return data

# Lista de departamentos que se han agrupado en 'Otros'
departamentos_agrupados = ['Otros']

# Agrupar los municipios correspondientes a los departamentos agrupados
data = agruparMunicipiosPorDepartamento(data, 'MUNICIPIO', 'DEPARTAMENTO', departamentos_agrupados, nuevaCategoria='Otros')

# Verificar el resultado
contarCategorias(data, 'MUNICIPIO')

üîß Agrupando municipios en la columna 'MUNICIPIO' para los departamentos agrupados...
‚úÖ Los municipios de los departamentos ['Otros'] se han agrupado bajo 'Otros'.
üîç Contando categor√≠as en la columna 'MUNICIPIO'...
üìä Conteo de cada categor√≠a:

MUNICIPIO
Otros                     4080
ZONA 1                     633
MIXCO                      428
VILLA NUEVA                370
QUETZALTENANGO             248
                          ...
SAN FRANCISCO LA UNION       1
SAN JUAN ATITAN              1
SAN MIGUEL SIGUILA           1
SANTA BARBARA                1
ZUNIL                        1
Name: count, Length: 137, dtype: int64

MUNICIPIO
Otros                     4080
ZONA 1                     633
MIXCO                      428
VILLA NUEVA                370
QUETZALTENANGO             248
                          ...
SAN FRANCISCO LA UNION       1
SAN JUAN ATITAN              1
SAN MIGUEL SIGUILA           1
SANTA BARBARA                1
ZUNIL                        1
Name: count, Length: 137, dtype: int64

In [18]:
# Convertir categor√≠as a num√©ricas si es necesario
data = convertirCategoriasANumericas(data, ['DISTRITO', 'DEPARTAMENTO', 'MUNICIPIO'])

üî¢ Convirtiendo categor√≠as a representaci√≥n num√©rica...

üîç Mapeo para la columna 'DISTRITO':
  01 -> 0
  05 -> 1
  09 -> 2
  12 -> 3
  13 -> 4
  Otros -> 5
  nan -> 6
üÜï Columna DISTRITO_num a√±adida con √©xito.

üîç Mapeo para la columna 'DEPARTAMENTO':
  CIUDAD CAPITAL -> 0
  ESCUINTLA -> 1
  GUATEMALA -> 2
  HUEHUETENANGO -> 3
  Otros -> 4
  QUETZALTENANGO -> 5
  SAN MARCOS -> 6
üÜï Columna DEPARTAMENTO_num a√±adida con √©xito.

üîç Mapeo para la columna 'MUNICIPIO':
  AGUACATAN -> 0
  ALMOLONGA -> 1
  AMATITLAN -> 2
  AYUTLA -> 3
  CABRICAN -> 4
  CAJOLA -> 5
  CANTEL -> 6
  CATARINA -> 7
  CHIANTLA -> 8
  CHINAUTLA -> 9
  CHUARRANCHO -> 10
  COATEPEQUE -> 11
  COLOMBA COSTA CUCA -> 12
  COLOTENANGO -> 13
  COMITANCILLO -> 14
  CONCEPCION CHIQUIRICHAPA -> 15
  CONCEPCION HUISTA -> 16
  CONCEPCION TUTUAPA -> 17
  CUILCO -> 18
  EL PALMAR -> 19
  EL QUETZAL -> 20
  EL TUMBADOR -> 21
  ESCUINTLA -> 22
  ESQUIPULAS PALO GORDO -> 23
  FLORES COSTA CUCA -> 24
  FRAIJANES -> 25
  GENOVA COSTA CUCA -> 26
  GUANAGAZAPA -> 27
  GUATEMALA -> 28
  HUEHUETENANGO -> 29
  HUITAN -> 30
  IXCHIGUAN -> 31
  IZTAPA -> 32
  JACALTENANGO -> 33
  LA BLANCA -> 34
  LA DEMOCRACIA -> 35
  LA ESPERANZA -> 36
  LA GOMERA -> 37
  LA LIBERTAD -> 38
  LA REFORMA -> 39
  MALACATAN -> 40
  MALACATANCITO -> 41
  MASAGUA -> 42
  MIXCO -> 43
  NENTON -> 44
  NUEVA CONCEPCION -> 45
  NUEVO PROGRESO -> 46
  OCOS -> 47
  OLINTEPEQUE -> 48
  Otros -> 49
  PAJAPITA -> 50
  PALENCIA -> 51
  PALESTINA DE LOS ALTOS -> 52
  PALIN -> 53
  PETATAN -> 54
  QUETZALTENANGO -> 55
  RIO BLANCO -> 56
  SALCAJA -> 57
  SAN ANTONIO HUISTA -> 58
  SAN ANTONIO SACATEPEQUEZ -> 59
  SAN CARLOS SIJA -> 60
  SAN CRISTOBAL CUCHO -> 61
  SAN FRANCISCO LA UNION -> 62
  SAN ILDEFONSO IXTAHUACAN -> 63
  SAN JOSE -> 64
  SAN JOSE DEL GOLFO -> 65
  SAN JOSE EL RODEO -> 66
  SAN JOSE OJETENAM -> 67
  SAN JOSE PINULA -> 68
  SAN JUAN ATITAN -> 69
  SAN JUAN IXCOY -> 70
  SAN JUAN OSTUNCALCO -> 71
  SAN JUAN SACATEPEQUEZ -> 72
  SAN LORENZO -> 73
  SAN MARCOS -> 74
  SAN MARTIN SACATEPEQUEZ -> 75
  SAN MATEO -> 76
  SAN MATEO IXTATAN -> 77
  SAN MIGUEL ACATAN -> 78
  SAN MIGUEL IXTAHUACAN -> 79
  SAN MIGUEL PETAPA -> 80
  SAN MIGUEL SIGUILA -> 81
  SAN PABLO -> 82
  SAN PEDRO AYAMPUC -> 83
  SAN PEDRO NECTA -> 84
  SAN PEDRO SACATEPEQUEZ -> 85
  SAN PEDRO SOLOMA -> 86
  SAN RAFAEL LA INDEPENDENCIA -> 87
  SAN RAFAEL PETZAL -> 88
  SAN RAFAEL PIE DE LA CUESTA -> 89
  SAN RAYMUNDO -> 90
  SAN SEBASTIAN COATAN -> 91
  SAN SEBASTIAN HUEHUETENANGO -> 92
  SAN VICENTE PACAYA -> 93
  SANTA ANA HUISTA -> 94
  SANTA BARBARA -> 95
  SANTA CATARINA PINULA -> 96
  SANTA CRUZ BARILLAS -> 97
  SANTA EULALIA -> 98
  SANTA LUCIA COTZUMALGUAPA -> 99
  SANTIAGO CHIMALTENANGO -> 100
  SIBILIA -> 101
  SIBINAL -> 102
  SIPACAPA -> 103
  SIPACATE -> 104
  SIQUINALA -> 105
  TACANA -> 106
  TAJUMULCO -> 107
  TECTITAN -> 108
  TEJUTLA -> 109
  TIQUISATE -> 110
  TODOS SANTOS CUCHUMATAN -> 111
  UNION CANTINIL -> 112
  VILLA CANALES -> 113
  VILLA NUEVA -> 114
  ZONA 1 -> 115
  ZONA 10 -> 116
  ZONA 11 -> 117
  ZONA 12 -> 118
  ZONA 13 -> 119
  ZONA 14 -> 120
  ZONA 15 -> 121
  ZONA 16 -> 122
  ZONA 17 -> 123
  ZONA 18 -> 124
  ZONA 19 -> 125
  ZONA 2 -> 126
  ZONA 21 -> 127
  ZONA 24 -> 128
  ZONA 3 -> 129
  ZONA 4 -> 130
  ZONA 5 -> 131
  ZONA 6 -> 132
  ZONA 7 -> 133
  ZONA 8 -> 134
  ZONA 9 -> 135
  ZUNIL -> 136
üÜï Columna MUNICIPIO_num a√±adida con √©xito.

In [19]:
# Encontrar los 5 municipios m√°s frecuentes y sus porcentajes
def top5Municipios(data, columna):
    """
    Encuentra los 5 municipios que m√°s aparecen en la columna especificada y calcula su porcentaje.

    Par√°metros:
    - data: DataFrame que contiene los datos.
    - columna: Nombre de la columna de municipios.

    Retorna:
    - Un DataFrame con los 5 municipios m√°s frecuentes y sus porcentajes.
    """
    # Calcular la frecuencia de cada municipio
    conteo_municipios = data[columna].value_counts()

    # Calcular el porcentaje para cada municipio
    porcentaje_municipios = (conteo_municipios / len(data)) * 100

    # Seleccionar los 5 municipios m√°s frecuentes
    top_5_municipios = porcentaje_municipios.head(5)

    return top_5_municipios

# Obtener los 5 municipios m√°s frecuentes y sus porcentajes
top_municipios = top5Municipios(data, 'MUNICIPIO')

# Mostrar el resultado
print(top_municipios)

MUNICIPIO
Otros             43.729904
ZONA 1             6.784566
MIXCO              4.587353
VILLA NUEVA        3.965702
QUETZALTENANGO     2.658092
Name: count, dtype: float64

In [20]:
# Contar categor√≠as para una columna espec√≠fica
contarCategorias(data, 'MUNICIPIO')

üîç Contando categor√≠as en la columna 'MUNICIPIO'...
üìä Conteo de cada categor√≠a:

MUNICIPIO
Otros                     4080
ZONA 1                     633
MIXCO                      428
VILLA NUEVA                370
QUETZALTENANGO             248
                          ...
SAN FRANCISCO LA UNION       1
SAN JUAN ATITAN              1
SAN MIGUEL SIGUILA           1
SANTA BARBARA                1
ZUNIL                        1
Name: count, Length: 137, dtype: int64

MUNICIPIO
Otros                     4080
ZONA 1                     633
MIXCO                      428
VILLA NUEVA                370
QUETZALTENANGO             248
                          ...
SAN FRANCISCO LA UNION       1
SAN JUAN ATITAN              1
SAN MIGUEL SIGUILA           1
SANTA BARBARA                1
ZUNIL                        1
Name: count, Length: 137, dtype: int64

In [21]:
# Verificar el resultado
contarCategorias(data, 'DISTRITO')

üîç Contando categor√≠as en la columna 'DISTRITO'...
üìä Conteo de cada categor√≠a:

DISTRITO
Otros    4072
01       2896
05        617
12        555
13        510
09        472
Name: count, dtype: int64

DISTRITO
Otros    4072
01       2896
05        617
12        555
13        510
09        472
Name: count, dtype: int64

In [22]:
data.to_csv('UnifiedData/UnifiedDataV4.csv', index=False)