# Universidad del Valle de Guatemala
## Facultad de Ingenier√≠a
### Departamento de Computaci√≥n

---

# Proyecto 1: Establecimientos educativos de Guatemala
## Proyecto 1. Limpieza de datos - Dataset: Establecimientos educativos de Guatemala

**Integrantes:**
- Diego Alexander Hern√°ndez Silvestre, 21270
- Linda In√©s Jim√©nez Vides, 21169
- Mario Antonio Guerra Morales, 21008
- David Jonathan Aragon Vasquez, 21053

**Curso:** Data Science  
**Secci√≥n:** 10  
**Grupo** 4  

---

Guatemala, 12 de agosto de 2024

In [130]:
# Importar las librer√≠as necesarias
import pandas as pd
import numpy as np

In [131]:
# Cargar el conjunto de datos
filePath = 'UnifiedData/UnifiedData.csv'  # Reemplaza con la ruta real de tu archivo CSV
dataFrame = pd.read_csv(filePath)

In [132]:
# Mostrar las primeras filas del conjunto de datos
print("üìù Primeras filas del conjunto de datos:")
dataFrame.head()

üìù Primeras filas del conjunto de datos:

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO COBAN,KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8,77945104,MERCEDES JOSEFINA TORRES GALVEZ,GUSTAVO ADOLFO SIERRA POP,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
1,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO PARTICULAR MIXTO VERAPAZ,KM 209.5 ENTRADA A LA CIUDAD,77367402,MERCEDES JOSEFINA TORRES GALVEZ,GILMA DOLORES GUAY PAZ DE LEAL,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
2,16-01-0140-46,16-031,ALTA VERAPAZ,COBAN,"COLEGIO ""LA INMACULADA""",7A. AVENIDA 11-109 ZONA 6,78232301,MERCEDES JOSEFINA TORRES GALVEZ,VIRGINIA SOLANO SERRANO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
3,16-01-0141-46,16-005,ALTA VERAPAZ,COBAN,ESCUELA NACIONAL DE CIENCIAS COMERCIALES,2A CALLE 11-10 ZONA 2,79514215,RUDY ADOLFO TOT OCH,H√âCTOR ROLANDO CHUN POOU,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
4,16-01-0142-46,16-005,ALTA VERAPAZ,COBAN,INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...,3A AVE 6-23 ZONA 11,79521468,RUDY ADOLFO TOT OCH,VICTOR HUGO DOM√çNGUEZ REYES,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,BILINGUE,VESPERTINA,DIARIO(REGULAR),ALTA VERAPAZ

In [133]:
# Obtener el n√∫mero total de filas y columnas
numFilas, numColumnas = dataFrame.shape
print(f"\nüî¢ N√∫mero total de filas (datos crudos): {numFilas}")
print(f"üî† N√∫mero total de variables: {numColumnas}")

üî¢ N√∫mero total de filas (datos crudos): 9330
üî† N√∫mero total de variables: 17

In [134]:
# Listar los nombres de las variables
print("\nüè∑Ô∏è Nombres de las variables en el conjunto de datos:")
dataFrame.columns.tolist()

üè∑Ô∏è Nombres de las variables en el conjunto de datos:

['CODIGO',
 'DISTRITO',
 'DEPARTAMENTO',
 'MUNICIPIO',
 'ESTABLECIMIENTO',
 'DIRECCION',
 'TELEFONO',
 'SUPERVISOR',
 'DIRECTOR',
 'NIVEL',
 'SECTOR',
 'AREA',
 'STATUS',
 'MODALIDAD',
 'JORNADA',
 'PLAN',
 'DEPARTAMENTAL']

In [135]:
# Obtener una estad√≠stica descriptiva general
descripcion = dataFrame.describe(include='all')

# Mostrar las estad√≠sticas descriptivas generales en una tabla
print("üìä Estad√≠sticas descriptivas generales:")
descripcion

üìä Estad√≠sticas descriptivas generales:

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
count,9330,9122,9330,9330,9330,9279,8791,9121,8433,9330,9330,9330,9330,9330,9330,9330,9330
unique,9330,690,23,349,5616,6084,5464,659,4706,1,4,3,4,2,6,13,26
top,19-11-0018-46,01-403,CIUDAD CAPITAL,ZONA 1,INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA,CABECERA MUNICIPAL,22067425,CARLOS HUMBERTO GONZALEZ DE LEON,---,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,DOBLE,DIARIO(REGULAR),GUATEMALA NORTE
freq,1,268,1564,633,330,268,21,333,83,9330,7955,7604,6545,9038,3036,5720,1050

In [136]:
# Candidatos a variable objetivo
candidatos = ['STATUS', 'MODALIDAD', 'JORNADA']

for variable in candidatos:
    print(f"üîç Distribuci√≥n de clases en la variable '{variable}':")
    distribucionClases = dataFrame[variable].value_counts()
    print(distribucionClases)
    porcentajeClases = distribucionClases / len(dataFrame) * 100
    print(f"\nüìä Porcentaje de cada clase en '{variable}':")
    print(porcentajeClases)
    print("\n" + "="*50 + "\n")

üîç Distribuci√≥n de clases en la variable 'STATUS':
STATUS
ABIERTA                  6545
CERRADA TEMPORALMENTE    2663
TEMPORAL TITULOS          119
TEMPORAL NOMBRAMIENTO       3
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'STATUS':
STATUS
ABIERTA                  70.150054
CERRADA TEMPORALMENTE    28.542337
TEMPORAL TITULOS          1.275456
TEMPORAL NOMBRAMIENTO     0.032154
Name: count, dtype: float64

==================================================

üîç Distribuci√≥n de clases en la variable 'MODALIDAD':
MODALIDAD
MONOLINGUE    9038
BILINGUE       292
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'MODALIDAD':
MODALIDAD
MONOLINGUE    96.870311
BILINGUE       3.129689
Name: count, dtype: float64

==================================================

üîç Distribuci√≥n de clases en la variable 'JORNADA':
JORNADA
DOBLE          3036
VESPERTINA     2567
MATUTINA       2382
SIN JORNADA     964
NOCTURNA        289
INTERMEDIA       92
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'JORNADA':
JORNADA
DOBLE          32.540193
VESPERTINA     27.513398
MATUTINA       25.530547
SIN JORNADA    10.332262
NOCTURNA        3.097535
INTERMEDIA      0.986066
Name: count, dtype: float64

==================================================

In [137]:
# Listar todas las variables del conjunto de datos
variables = dataFrame.columns.tolist()

for variable in variables:
    # Contar el n√∫mero de valores √∫nicos en la variable
    num_valores_unicos = dataFrame[variable].nunique()
    
    # Imprimir el n√∫mero de valores √∫nicos
    print(f"üîç N√∫mero de valores √∫nicos en la variable '{variable}': {num_valores_unicos}")
    
    # Distribuci√≥n de clases
    distribucionClases = dataFrame[variable].value_counts()
    print(f"\nüîç Distribuci√≥n de clases en la variable '{variable}':")
    print(distribucionClases)
    
    # Calcular el porcentaje de cada clase
    porcentajeClases = distribucionClases / len(dataFrame) * 100
    print(f"\nüìä Porcentaje de cada clase en '{variable}':")
    print(porcentajeClases)
    
    # Imprimir una l√≠nea separadora
    print("\n" + "="*50 + "\n")

üîç N√∫mero de valores √∫nicos en la variable 'CODIGO': 9330

üîç Distribuci√≥n de clases en la variable 'CODIGO':
CODIGO
19-11-0018-46    1
16-01-0138-46    1
19-06-0015-46    1
19-06-0008-46    1
19-06-0005-46    1
                ..
16-01-0145-46    1
16-01-0143-46    1
16-01-0142-46    1
16-01-0141-46    1
16-01-0140-46    1
Name: count, Length: 9330, dtype: int64

üìä Porcentaje de cada clase en 'CODIGO':
CODIGO
19-11-0018-46    0.010718
16-01-0138-46    0.010718
19-06-0015-46    0.010718
19-06-0008-46    0.010718
19-06-0005-46    0.010718
                   ...
16-01-0145-46    0.010718
16-01-0143-46    0.010718
16-01-0142-46    0.010718
16-01-0141-46    0.010718
16-01-0140-46    0.010718
Name: count, Length: 9330, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'DISTRITO': 690

üîç Distribuci√≥n de clases en la variable 'DISTRITO':
DISTRITO
01-403    268
11-017    176
05-033    167
01-411    167
18-008    130
         ...
10-001      1
19-002      1
16-004      1
16-053      1
19-020      1
Name: count, Length: 690, dtype: int64

üìä Porcentaje de cada clase en 'DISTRITO':
DISTRITO
01-403    2.872454
11-017    1.886388
05-033    1.789925
01-411    1.789925
18-008    1.393355
            ...
10-001    0.010718
19-002    0.010718
16-004    0.010718
16-053    0.010718
19-020    0.010718
Name: count, Length: 690, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'DEPARTAMENTO': 23

üîç Distribuci√≥n de clases en la variable 'DEPARTAMENTO':
DEPARTAMENTO
CIUDAD CAPITAL    1564
GUATEMALA         1477
ESCUINTLA          628
SAN MARCOS         574
HUEHUETENANGO      516
QUETZALTENANGO     491
SUCHITEPEQUEZ      385
ALTA VERAPAZ       374
IZABAL             368
PETEN              366
CHIMALTENANGO      359
SACATEPEQUEZ       319
RETALHULEU         316
JUTIAPA            310
QUICHE             244
CHIQUIMULA         170
SANTA ROSA         157
JALAPA             151
SOLOLA             138
EL PROGRESO        125
BAJA VERAPAZ       114
ZACAPA              94
TOTONICAPAN         90
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'DEPARTAMENTO':
DEPARTAMENTO
CIUDAD CAPITAL    16.763130
GUATEMALA         15.830654
ESCUINTLA          6.730975
SAN MARCOS         6.152197
HUEHUETENANGO      5.530547
QUETZALTENANGO     5.262594
SUCHITEPEQUEZ      4.126474
ALTA VERAPAZ       4.008574
IZABAL             3.944266
PETEN              3.922830
CHIMALTENANGO      3.847803
SACATEPEQUEZ       3.419078
RETALHULEU         3.386924
JUTIAPA            3.322615
QUICHE             2.615220
CHIQUIMULA         1.822079
SANTA ROSA         1.682744
JALAPA             1.618435
SOLOLA             1.479100
EL PROGRESO        1.339764
BAJA VERAPAZ       1.221865
ZACAPA             1.007503
TOTONICAPAN        0.964630
Name: count, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'MUNICIPIO': 349

üîç Distribuci√≥n de clases en la variable 'MUNICIPIO':
MUNICIPIO
ZONA 1                         633
MIXCO                          428
VILLA NUEVA                    370
QUETZALTENANGO                 248
RETALHULEU                     185
                              ...
SAN JOSE CHACAYA                 1
SAN BARTOLO AGUAS CALIENTES      1
SAN ANTONIO PALOPO               1
SAN MARCOS LA LAGUNA             1
SAN JORGE                        1
Name: count, Length: 349, dtype: int64

üìä Porcentaje de cada clase en 'MUNICIPIO':
MUNICIPIO
ZONA 1                         6.784566
MIXCO                          4.587353
VILLA NUEVA                    3.965702
QUETZALTENANGO                 2.658092
RETALHULEU                     1.982851
                                 ...
SAN JOSE CHACAYA               0.010718
SAN BARTOLO AGUAS CALIENTES    0.010718
SAN ANTONIO PALOPO             0.010718
SAN MARCOS LA LAGUNA           0.010718
SAN JORGE                      0.010718
Name: count, Length: 349, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'ESTABLECIMIENTO': 5616

üîç Distribuci√≥n de clases en la variable 'ESTABLECIMIENTO':
ESTABLECIMIENTO
INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA                        330
INSTITUTO NACIONAL DE EDUCACI√ìN DIVERSIFICADA                         94
CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX-                               34
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA DE ENSE√ëANZA     27
INSTITUTO DIVERSIFICADO POR COOPERATIVA                               23
                                                                    ...
LICEO  TECNICO  INTERAMERICANO                                         1
CENTRO  EDUCATIVO   PAULO  NEVES  FREIRE                               1
CENTRO   EDUCATIVO  PAULO  NEVES   FREIRE                              1
LICEO  CRISTIANO  FRATER  SEDE  SAN  CRISTOBAL                         1
COLEGIO  SAN  ANTONIO  DE  PADUA  "PROTECTOR DE LA JUVENTUD"           1
Name: count, Length: 5616, dtype: int64

üìä Porcentaje de cada clase en 'ESTABLECIMIENTO':
ESTABLECIMIENTO
INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA                        3.536977
INSTITUTO NACIONAL DE EDUCACI√ìN DIVERSIFICADA                        1.007503
CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX-                              0.364416
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA DE ENSE√ëANZA    0.289389
INSTITUTO DIVERSIFICADO POR COOPERATIVA                              0.246517
                                                                       ...
LICEO  TECNICO  INTERAMERICANO                                       0.010718
CENTRO  EDUCATIVO   PAULO  NEVES  FREIRE                             0.010718
CENTRO   EDUCATIVO  PAULO  NEVES   FREIRE                            0.010718
LICEO  CRISTIANO  FRATER  SEDE  SAN  CRISTOBAL                       0.010718
COLEGIO  SAN  ANTONIO  DE  PADUA  "PROTECTOR DE LA JUVENTUD"         0.010718
Name: count, Length: 5616, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'DIRECCION': 6084

üîç Distribuci√≥n de clases en la variable 'DIRECCION':
DIRECCION
CABECERA MUNICIPAL                                                           268
BARRIO EL CENTRO                                                              60
BARRIO EL CALVARIO                                                            19
BARRIO EL PORVENIR                                                            18
BARRIO LAS FLORES                                                             15
                                                                            ...
PLAZA CENTRAL ALDEA SAN ANTONIO LAS FLORES                                     1
PLAZA CENTRAL ALDEA SAN ANTONIO LAS FLORES GUATEMALA                           1
SECTOR  5 LOTE 1-B, COMUNIDAD LA SALLE, ALDEA CONCEPCION SACOJITO, ZONA 0      1
SECTOR 43 LOTE 0 TIERRA NUEVA 1                                                1
15 AVENIDA SECTOR 3 COLONIA NUEVA CHINAUTLA                                    1
Name: count, Length: 6084, dtype: int64

üìä Porcentaje de cada clase en 'DIRECCION':
DIRECCION
CABECERA MUNICIPAL                                                           2.872454
BARRIO EL CENTRO                                                             0.643087
BARRIO EL CALVARIO                                                           0.203644
BARRIO EL PORVENIR                                                           0.192926
BARRIO LAS FLORES                                                            0.160772
                                                                               ...
PLAZA CENTRAL ALDEA SAN ANTONIO LAS FLORES                                   0.010718
PLAZA CENTRAL ALDEA SAN ANTONIO LAS FLORES GUATEMALA                         0.010718
SECTOR  5 LOTE 1-B, COMUNIDAD LA SALLE, ALDEA CONCEPCION SACOJITO, ZONA 0    0.010718
SECTOR 43 LOTE 0 TIERRA NUEVA 1                                              0.010718
15 AVENIDA SECTOR 3 COLONIA NUEVA CHINAUTLA                                  0.010718
Name: count, Length: 6084, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'TELEFONO': 5464

üîç Distribuci√≥n de clases en la variable 'TELEFONO':
TELEFONO
22067425      21
79480009      14
77602663      13
22093200      12
45353648      11
              ..
42117240.0     1
42736525.0     1
52029954.0     1
79349362.0     1
77283695.0     1
Name: count, Length: 5464, dtype: int64

üìä Porcentaje de cada clase en 'TELEFONO':
TELEFONO
22067425      0.225080
79480009      0.150054
77602663      0.139335
22093200      0.128617
45353648      0.117899
                ...
42117240.0    0.010718
42736525.0    0.010718
52029954.0    0.010718
79349362.0    0.010718
77283695.0    0.010718
Name: count, Length: 5464, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'SUPERVISOR': 659

üîç Distribuci√≥n de clases en la variable 'SUPERVISOR':
SUPERVISOR
CARLOS HUMBERTO GONZALEZ DE LEON                  333
MIGUEL ANGEL ARMAS ROCHA                          228
JUAN ENRIQUE MARTINEZ SOLANO                      167
REMY ARTURO SINAY GUDIEL                          167
ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA    130
                                                 ...
CLAUDIA HERMENCIA VILLATORO RODR√çGUEZ DE CHAN       1
MARIA DEL CARMEN SANDOVAL LOPEZ                     1
LINDA ESMERALDA SANCHEZ DE MORALES                  1
ABNER DAVID CHIQUN TURCIOS                          1
ALBA LUZ MENDEZ                                     1
Name: count, Length: 659, dtype: int64

üìä Porcentaje de cada clase en 'SUPERVISOR':
SUPERVISOR
CARLOS HUMBERTO GONZALEZ DE LEON                  3.569132
MIGUEL ANGEL ARMAS ROCHA                          2.443730
JUAN ENRIQUE MARTINEZ SOLANO                      1.789925
REMY ARTURO SINAY GUDIEL                          1.789925
ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA    1.393355
                                                    ...
CLAUDIA HERMENCIA VILLATORO RODR√çGUEZ DE CHAN     0.010718
MARIA DEL CARMEN SANDOVAL LOPEZ                   0.010718
LINDA ESMERALDA SANCHEZ DE MORALES                0.010718
ABNER DAVID CHIQUN TURCIOS                        0.010718
ALBA LUZ MENDEZ                                   0.010718
Name: count, Length: 659, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'DIRECTOR': 4706

üîç Distribuci√≥n de clases en la variable 'DIRECTOR':
DIRECTOR
---                               83
----                              28
--                                27
-----                             14
SIN DATO                          14
                                  ..
MARIO ROLANDO MONTEJO L√ìPEZ        1
NILSAN SAYDETH MONTEJO MENDOZA     1
ISMAEL EUGENIO PASCUAL GUILL√âN     1
SONIA NATIVIDAD MORENO M√âRIDA      1
PABLO  TAY√öN SONTAY                1
Name: count, Length: 4706, dtype: int64

üìä Porcentaje de cada clase en 'DIRECTOR':
DIRECTOR
---                               0.889603
----                              0.300107
--                                0.289389
-----                             0.150054
SIN DATO                          0.150054
                                    ...
MARIO ROLANDO MONTEJO L√ìPEZ       0.010718
NILSAN SAYDETH MONTEJO MENDOZA    0.010718
ISMAEL EUGENIO PASCUAL GUILL√âN    0.010718
SONIA NATIVIDAD MORENO M√âRIDA     0.010718
PABLO  TAY√öN SONTAY               0.010718
Name: count, Length: 4706, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'NIVEL': 1

üîç Distribuci√≥n de clases en la variable 'NIVEL':
NIVEL
DIVERSIFICADO    9330
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'NIVEL':
NIVEL
DIVERSIFICADO    100.0
Name: count, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'SECTOR': 4

üîç Distribuci√≥n de clases en la variable 'SECTOR':
SECTOR
PRIVADO        7955
OFICIAL         990
COOPERATIVA     245
MUNICIPAL       140
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'SECTOR':
SECTOR
PRIVADO        85.262594
OFICIAL        10.610932
COOPERATIVA     2.625938
MUNICIPAL       1.500536
Name: count, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'AREA': 3

üîç Distribuci√≥n de clases en la variable 'AREA':
AREA
URBANA             7604
RURAL              1724
SIN ESPECIFICAR       2
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'AREA':
AREA
URBANA             81.500536
RURAL              18.478028
SIN ESPECIFICAR     0.021436
Name: count, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'STATUS': 4

üîç Distribuci√≥n de clases en la variable 'STATUS':
STATUS
ABIERTA                  6545
CERRADA TEMPORALMENTE    2663
TEMPORAL TITULOS          119
TEMPORAL NOMBRAMIENTO       3
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'STATUS':
STATUS
ABIERTA                  70.150054
CERRADA TEMPORALMENTE    28.542337
TEMPORAL TITULOS          1.275456
TEMPORAL NOMBRAMIENTO     0.032154
Name: count, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'MODALIDAD': 2

üîç Distribuci√≥n de clases en la variable 'MODALIDAD':
MODALIDAD
MONOLINGUE    9038
BILINGUE       292
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'MODALIDAD':
MODALIDAD
MONOLINGUE    96.870311
BILINGUE       3.129689
Name: count, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'JORNADA': 6

üîç Distribuci√≥n de clases en la variable 'JORNADA':
JORNADA
DOBLE          3036
VESPERTINA     2567
MATUTINA       2382
SIN JORNADA     964
NOCTURNA        289
INTERMEDIA       92
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'JORNADA':
JORNADA
DOBLE          32.540193
VESPERTINA     27.513398
MATUTINA       25.530547
SIN JORNADA    10.332262
NOCTURNA        3.097535
INTERMEDIA      0.986066
Name: count, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'PLAN': 13

üîç Distribuci√≥n de clases en la variable 'PLAN':
PLAN
DIARIO(REGULAR)                          5720
FIN DE SEMANA                            2328
SEMIPRESENCIAL (FIN DE SEMANA)            481
SEMIPRESENCIAL (UN D√çA A LA SEMANA)       398
A DISTANCIA                               143
SEMIPRESENCIAL                             86
SEMIPRESENCIAL (DOS D√çAS A LA SEMANA)      57
VIRTUAL A DISTANCIA                        50
SABATINO                                   41
DOMINICAL                                  19
MIXTO                                       3
INTERCALADO                                 2
IRREGULAR                                   2
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'PLAN':
PLAN
DIARIO(REGULAR)                          61.307610
FIN DE SEMANA                            24.951768
SEMIPRESENCIAL (FIN DE SEMANA)            5.155413
SEMIPRESENCIAL (UN D√çA A LA SEMANA)       4.265809
A DISTANCIA                               1.532690
SEMIPRESENCIAL                            0.921758
SEMIPRESENCIAL (DOS D√çAS A LA SEMANA)     0.610932
VIRTUAL A DISTANCIA                       0.535906
SABATINO                                  0.439443
DOMINICAL                                 0.203644
MIXTO                                     0.032154
INTERCALADO                               0.021436
IRREGULAR                                 0.021436
Name: count, dtype: float64

==================================================

üîç N√∫mero de valores √∫nicos en la variable 'DEPARTAMENTAL': 26

üîç Distribuci√≥n de clases en la variable 'DEPARTAMENTAL':
DEPARTAMENTAL
GUATEMALA NORTE        1050
GUATEMALA SUR           833
GUATEMALA OCCIDENTE     785
ESCUINTLA               628
SAN MARCOS              574
HUEHUETENANGO           516
QUETZALTENANGO          491
SUCHITEP√âQUEZ           385
ALTA VERAPAZ            374
GUATEMALA ORIENTE       373
IZABAL                  368
PET√âN                   366
CHIMALTENANGO           359
SACATEP√âQUEZ            319
RETALHULEU              316
JUTIAPA                 310
QUICH√â                  203
CHIQUIMULA              170
SANTA ROSA              157
JALAPA                  151
SOLOL√Å                  138
EL PROGRESO             125
BAJA VERAPAZ            114
ZACAPA                   94
TOTONICAP√ÅN              90
QUICH√â NORTE             41
Name: count, dtype: int64

üìä Porcentaje de cada clase en 'DEPARTAMENTAL':
DEPARTAMENTAL
GUATEMALA NORTE        11.254019
GUATEMALA SUR           8.928189
GUATEMALA OCCIDENTE     8.413719
ESCUINTLA               6.730975
SAN MARCOS              6.152197
HUEHUETENANGO           5.530547
QUETZALTENANGO          5.262594
SUCHITEP√âQUEZ           4.126474
ALTA VERAPAZ            4.008574
GUATEMALA ORIENTE       3.997856
IZABAL                  3.944266
PET√âN                   3.922830
CHIMALTENANGO           3.847803
SACATEP√âQUEZ            3.419078
RETALHULEU              3.386924
JUTIAPA                 3.322615
QUICH√â                  2.175777
CHIQUIMULA              1.822079
SANTA ROSA              1.682744
JALAPA                  1.618435
SOLOL√Å                  1.479100
EL PROGRESO             1.339764
BAJA VERAPAZ            1.221865
ZACAPA                  1.007503
TOTONICAP√ÅN             0.964630
QUICH√â NORTE            0.439443
Name: count, dtype: float64

==================================================

### Variables encargadas - Mario Guerra

In [138]:
variables = ['ESTABLECIMIENTO', 'DIRECCION', 'TELEFONO', 'SUPERVISOR']
distribucion_establecimientos = ['INSTITUTO', 'ESCUELA', 'COLEGIO', 'LICEO', 'CENTRO']

def revision_datos(df, columnas):
    for col in columnas:
        print(f"An√°lisis preliminar de datos crudos. Columna: {col}.")

        valores_totales = df[col].count()
        print(f"Valores totales: {valores_totales}")

        valores_unicos = df[col].nunique()
        print(f"Valores √∫nicos: {valores_unicos}")

        valores_nulos = df[col].isnull().sum()
        print(f"Valores nulos totales: {valores_nulos}")

        valores_sin_inconsistencias = df[col].str.strip().str.upper().dropna().unique()
        print(f"Valores sin inconsistencias obtenidos: {valores_sin_inconsistencias}")
        cant_valores_sin_inconsistencias = df[col].str.strip().str.upper().dropna().nunique()
        print(f"Cantidad de valores sin inconsistencias: {cant_valores_sin_inconsistencias}")

        if col == 'ESTABLECIMIENTO':
            # Normalizar los valores de la columna 'ESTABLECIMIENTO'
            df[col] = df[col].str.strip().str.upper()

            # Crear condiciones y elecciones para la distribuci√≥n
            condiciones = [df[col].str.contains(establecimiento, na=False) for establecimiento in distribucion_establecimientos]
            elecciones = distribucion_establecimientos

            # Categorizar los establecimientos
            df['CATEGORIA_ESTABLECIMIENTO'] = np.select(condiciones, elecciones, default='OTRO')

            # Mostrar la distribuci√≥n de las categor√≠as
            distribucion = df['CATEGORIA_ESTABLECIMIENTO'].value_counts()
            print(f"Distribuci√≥n de categor√≠as de establecimientos:\n{distribucion}")
        
        if col == 'TELEFONO':
            # Contar valores que contienen un guion '-'
            telefonos_con_guion = df[col].str.contains('-').sum()
            print(f"Cantidad de valores en la columna TELEFONO que contienen un guion '-': {telefonos_con_guion}")

        
        print("\n")

        
revision_datos(dataFrame, variables)

An√°lisis preliminar de datos crudos. Columna: ESTABLECIMIENTO.
Valores totales: 9330
Valores √∫nicos: 5616
Valores nulos totales: 0
Valores sin inconsistencias obtenidos: ['COLEGIO  COBAN' 'COLEGIO PARTICULAR MIXTO  VERAPAZ'
 'COLEGIO "LA INMACULADA"' ... 'LICEO PARTICULAR MIXTO "JIREH"'
 'LICEO PARTICULAR MIXTO  " JIREH"' 'INSTITUTO DIVERSIFICADO']
Cantidad de valores sin inconsistencias: 5616
Distribuci√≥n de categor√≠as de establecimientos:
CATEGORIA_ESTABLECIMIENTO
COLEGIO      3566
INSTITUTO    2649
LICEO        1531
CENTRO       1097
ESCUELA       311
OTRO          176
Name: count, dtype: int64


An√°lisis preliminar de datos crudos. Columna: DIRECCION.
Valores totales: 9279
Valores √∫nicos: 6084
Valores nulos totales: 51
Valores sin inconsistencias obtenidos: ['KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8' 'KM 209.5 ENTRADA A LA CIUDAD'
 '7A. AVENIDA 11-109 ZONA 6' ... 'BARRIO EL AMATE' 'BARRIO  BUENOS  AIRES'
 'BARRIO EL  CAMPO']
Cantidad de valores sin inconsistencias: 6084


An√°lisis preliminar de datos crudos. Columna: TELEFONO.
Valores totales: 8791
Valores √∫nicos: 5464
Valores nulos totales: 539
Valores sin inconsistencias obtenidos: ['77945104' '77367402' '78232301' ... '47097386.0' '55958103.0'
 '41447589.0']
Cantidad de valores sin inconsistencias: 5464
Cantidad de valores en la columna TELEFONO que contienen un guion '-': 116


An√°lisis preliminar de datos crudos. Columna: SUPERVISOR.
Valores totales: 9121
Valores √∫nicos: 659
Valores nulos totales: 209
Valores sin inconsistencias obtenidos: ['MERCEDES JOSEFINA TORRES GALVEZ' 'RUDY ADOLFO TOT OCH' 'EFRAIN CAAL CUC'
 'ERNESTO CAAL CHOC' 'MAXIMILIANO CHUB ICAL'
 'SONIA HAYDEE REYES MONTERROSO' 'ROBERTO DE JESUS LOPEZ ALVAREZ'
 'OLGA MARINA BUC' 'WILSON EDWIN OSWALDO CAAL CHO'
 'JORGE ALBERTO CAAL BOL' 'ALFONZO SI XOL' 'PATRICIO NAJARRO ASENCIO'
 'BENJAMIN JUC BOTZOC' 'MARIA ELENA PALMA MOLINA' 'JOSE LUIS XI CUCUL'
 'ARMANDO AUDILIO POP CUCUL' 'OSCAR ANIBAL GARCIA HUMBLERS'
 'ABNER DAVID CHIQUN TURCIOS' 'JORGE ERWIN CUCUL QUIB'
 'DULLIER CLEMENTE BOL BAC' 'OSCAR RENE VENTURA ZAC'
 'EDWIN OTONIEL CUCUL CHOC' 'CESAR RIGOBERTO CUC CAAL'
 'BERTHA ELENA POP HO' 'JORGE EDUARDO PAQUE LAZARO'
 'LAYZA MARIELA CASTRO CAAL' 'CECILIO DADAI OVANDO AZURDIA'
 'HORACIO WALDEMAR JUAREZ ARGUETA' 'ELVIS BENJAMIN IXIM HERNANDEZ'
 'MYNOR DANILO TORRES JUAREZ' 'CESAR ROLANDO CHOCOOJ YALIBAT'
 'ILEANA VER√ìNICA MACZ CALACH' 'OSCAR WALDEMAR MILIAN TIUL'
 'ALFONSO BOTZOC CAN' 'EDETANO OXOM YAT' 'AURELIO CHO MAQUIN'
 'NELY MAGALY QUIJADA AYALA' 'ELMER DUBAN ALVARADO JASSE'
 'ELFIDO WILFREDO ARTOLA CAAL' 'TEODORO ALBERTO PEREZ DUERING'
 'EDGAR LEONEL RAMIREZ GONZALEZ' 'NELSON JOEL HERNANDEZ HERNANDEZ'
 'ELIECER ARIEL ISMALEJ MORALES' 'VIVIAN VERONICA PRERA NOGUERA'
 'WILSON ESTUARDO CANAHUI JA' 'HUGO RAMIRO GONZALEZ CANAHUI'
 'FLORI AMALIA PEREZ POCOP DE BOLVITO' 'EDGAR OVIDIO SIC XITUMUL'
 'HUGO MAURICIO MORALES MORALES' 'JORGE ARNOLDO ALVARADO PEREZ'
 'FLORA MILIAN MILIAN DE GARCIA' 'CESAR LEONEL GRAMAJO JIMENEZ'
 'IRIS QUETZALI ORDO√ëEZ TURCIOS DE RAMIREZ' 'PEDRO ARMANDO CASTRO CHOCO'
 'MARILENA HERNANDEZ CABRERA' 'ABIMAEL ACUTA ABAJ'
 'SURAMA LISSETH RAMIREZ LOPEZ DE MORALES' 'LESLY YOLANDA PEREZ CHAMALE'
 'EDWIN RICARDO SACRAPAL CAN' 'EDNA NOHELIA PEREZ TOJ DE LOPEZ'
 'MARCO TULIO AJQUEJAY PICHIYA' 'JULIO RENE NOTZ CUTZAL'
 'JUAN FRANCISCO ALBERTO ZAMORA BAJXAC'
 'MARIA ISABEL HERNANDEZ BOROR DE MARTIN' 'MARIA ISABEL ORDON CAMEY'
 'MARIA JULIA ATZ BALAN' 'AGRIPINO PEREN CUTZAL' 'EDGAR LEONEL SIMON ICU'
 'HENRY WILFREDO CHEX TZIRIN' 'NELSON JEDARIAS MARTIN CHONAY'
 'CESAR AUGUSTO CHUMIL ALACAN' 'SILBIA JANETT NU√ëEZ RODAS DE PESQUERA'
 'JAIRO DANIEL BOTZOTZ MIRANDA' 'JUAN MANUEL COLO RUCUCH'
 'LUZ MARIHELA TUJAL MAGZUL' 'ISMAEL CRISTAL AJCET'
 'JUAN FRANCISCO COCON COY' 'ROSA MARISOL JUAREZ GRAMAJO'
 'LIDIA SANTIZO MORALES' 'OBED NATANAHEL CASIA CHONAY'
 'LEONOR JUAREZ CALLEJAS' 'MARTA MARIA DE LOS ANGELES MICH ZAMORA'
 'EXEQUIEL XIA SECAY' 'ANA LUISA AVILA GOMEZ DE LEMUS'
 'MILDRED BRICEL RIVAS SIQUIN' 'CORINA ARGELIA RODAS SERRANO'
 'LUIS FERNANDO MENDEZ GUDIEL' 'CESAR ADALBERTO NOGUERA JACOME'
 'SILVIA MARILENA BUEZO MARTINEZ'
 'SILVIA EUGENIA VALDEZ MONTERROSO DE CARBALLO'
 'ANGELA DEL ROSARIO GARCIA MARCOS' 'VILMA ESPERANZA LOPEZ INTERIANO'
 'EDGAR ANIBAL MENENDEZ VELASQUEZ' 'BYRON HORACIO SARCE√ëO ZEPEDA'
 'JUAN ABEL MORAN SOSA' 'BLANCA ROSA MORALES DE GUTIERREZ'
 'SERGIO ESTUARDO MEDINA GUDIEL' 'DANY FRANCISCO PALMA CARTAGENA'
 'FRANCISCO JAVIER GUERRA PAZOS' 'CESAR RAMIREZ HERNANDEZ'
 'ROSARIO RIVAS VILLAFUERTE' 'OSWALDO RAFAEL SALINAS BRENES'
 'LANDELINO CRUZ GARCIA' 'JORGE ALBERTO SAAVEDRA LOPEZ'
 'MIRNA MARLENY JUAREZ PEREZ' 'RONY JOSE ALDANA ESPA√ëA'
 'NILDA MARITZA ARROYO RODRIGUEZ' 'JUAN DE DIOS MONROY RAMIREZ'
 'AMADO  SALOMON FLORES PEREZ' 'ERICK ESTUARDO SANCHEZ ARCHILA'
 'NORMA ARACELY PALOMO FRANCO DE DIAZ' 'MARIANO DOMINGO ESTRADA TELETOR'
 'CARLOS HUMBERTO GONZALEZ DE LEON' 'AURA MARINA GARRIDO MORALES'
 'LESLIE AZUCENA MONZON TECUN' 'LEONEL AMILCAR RIOS FUENTES'
 'ISIS IRAZEMA CANEL PALMA' 'AMADO SALOMON FLORES PEREZ'
 'CLAUDIA PATRICIA RUIZ CASASOLA DE ESTRADA' 'ZIZI ARELY LOPEZ CHINCHILLA'
 'ZUHILEM YESENIA ESTRADA ORTIZ' 'SANTOS VICTORINO VASQUEZ PAXTOR'
 'MARIA FELICITA ROQUE CARRERA' 'IXMUCANE ALDANA VILLAVICENCIO'
 'MARIA ESTELA MARROQUIN CHUR DE ORTEGA' 'ISAURA AMPARO RECINOS CARRILLO'
 'CESAR ARNOLDO MARTINEZ GARCIA' 'DALLANA ZUHEIDY FLORES CHINCHILLA'
 'ROSA  GEORGINA RIOS CASTILLO' 'SE ELIMINO EL DISTRITO' 'VACANTE VACANTE'
 'SANDRA LIZZETH CRUZ IZAGUIRRE' 'ALMA SALGUERO DE SALAZAR'
 'DINIZ ORALIA MORALES MU√ëOZ' 'CESAR AUGUSTO ORTIZ HERNANDEZ'
 'ALFREDO NOHELI TEMAJ MORALES' 'HECTOR EDELMIRO FLORES BRINGUEZ'
 'ERICK GUILLERMO SANCHEZ MARTINEZ' 'PLINIO IVAN HERNANDEZ'
 'DAVID SOTOJ SANCHEZ' 'BLANCA SARAI GUTIERREZ PINEDA'
 'FEDERICO ESTUARDO IRUNGARAY SAMAYOA'
 'ANDREA VANESSA ALDANA VILLAGRAN  DE CASTRO'
 'ROSA ALBELIA ARDON DE MOTTA' 'IDALIA DEL ROSARIO LOPEZ SANDOVAL DE PAIZ'
 'JUAN WALDEMAR CABRERA MENDEZ' 'MIGUEL ALVARO RODRIGUEZ PORTILLO'
 'EMORA EMPERATRIZ CRUZ DE FUENTES' 'MARIA DEL ROSARIO VARGAS SANDOVAL'
 'RONALD MAURICIO MORALES VIVAR' 'MARIA TERESA MILIAN AVILES'
 'GRISELDA LISETH FRANCO GUTIERREZ' 'JULIO JACOBO GIL URBINA'
 'MIRIAM DEL CARMEN OROZCO HERNANDEZ' 'MILTON ALONSO ALVAREZ FUENTES'
 'ELISEO DANIEL ALVAREZ NATARENO' 'BENIGNO ISAIAS DE LEON OROZCO'
 'MANUEL MARIA CANO CASTRO' 'ORLANDO ERCILIO GIRON ALVAREZ'
 'LUZ ANTONIA POCON CARRILLO' 'JUAN ENRIQUE MARTINEZ SOLANO'
 'ADRIANA FABIOLA BOLA√ëOS ESTRADA' 'NATALY FABIOLA SOTO ESPA√ëA DE TURCIOS'
 'LILIAN NINETH TEOS REYES' 'INGRID ELIZABETH PE√ëA TRUJILLO'
 'JOSUE VINICIO ROMERO REYES' 'JULIA ENECON ROCA MORAN'
 'LIGIA DEL ROSARIO RICCI VELASQUEZ'
 'MARIA ELENA LACAN HUITZ DE DE LA CRUZ' 'ALBA MARICELA JOR PORTILLO'
 'ISRAEL PORTILLO HERNANDEZ' 'ROSA ALBA LOPEZ PIRIR'
 'CEDWIN EUGENIO CRUZ BUCARO' 'CARLA MARLENY ALDANA RODAS'
 'EDGAR RUDY MORALES GODINEZ' 'MARTA ELIDA CARIAS HERNANDEZ  DE GARCIA'
 'CARLOTA EUGENIA ALBUREZ AGUILAR' 'MIRNA YANETT FERRERA CASTILLO'
 'SILVIA CONSUELO GAMARRO HERRERA DE JUAREZ' 'EDGAR ROLANDO JUAREZ ORTIZ'
 'EUNICE GUADALUPE NAJARRO JUAREZ' 'JACKSON AMAGGI MORALES MACAL'
 'JORGE MARIO CHINCHILLA JACINTO' 'ARISTIDES CABRERA ROMERO'
 'JACQUELINE SUCELY CABRERA LOAIZA DE LEVY'
 'OSMAR JOSUE GONZALEZ HERNANDEZ' 'MIGDALIA AZUCENA FAJARDO DEL CID'
 'MARTA ALICIA CRUZ PEREZ' 'REMY ARTURO SINAY GUDIEL'
 'CLAUDIA YADIRA GUZMAN MONTEPEQUE DE AREVALO'
 'JUAN ALBERTO MACHUCA ALVAREZ' 'JUAN FRANCISCO GODOY DAVILA'
 'LUCINDA ARCHILA GUERRERO DE PAREDES' 'HECTOR MANCILLA ORTIZ'
 'LINDA ESMERALDA SANCHEZ DE MORALES'
 'KARLA MARISOL MARTINEZ AVILA DE MELGAR' 'ENMANUEL IVAN ESTRADA ARROYO'
 'PAULINA VICENTE LOBO' 'FAUSTINO CHIQUE VALENZUELA'
 'MABELLINE DAHAN ALDANA RODAS DE PINZON.'
 'MARIA DEL CARMEN SANDOVAL LOPEZ' 'BRENDA YOHANNA GUDIEL LOPEZ DE MU√ëOZ'
 'JENIFER LISSETH GODINEZ SAMAYOA' 'TELMA ENRIQUETA GRAJEDA MARTINEZ'
 'CLAUDIA LISETH CEBALLOS CASTILLO DE VILLALOBOS'
 'ESTHER AVIGAIL YUMAN ALVIZURES' 'LEIDI LILIANA ANAVIZCA ARIAS'
 'JAIME ANTULIO ESTRADA SOTO'
 'MILVIA MERCEDEZ VASQUEZ MORALES DE VALLADARES'
 'ZOILA ESPERANZA CAMEY ATZ' 'MAYRA HORTENSIA RUSTRIAN ECUTE'
 'ADELA VANESSA CON SUMALE' 'ROSENDA CORINA SALAY ALBIZURES'
 'NANCY DEL ROSARIO RUANO JIMENEZ' 'ISMAILIA ALVIZURIS COTTO'
 'PEDRO ADOLFO LUCERO ROSALES' 'JOSE ROBERTO ESTRADA RAMIREZ'
 'YERALDY ETELVINA DIAZ DE LEON DE CASTA√ëEDA'
 'EVELIN  ARMINDA ARRIOLA RAMIREZ' 'ROSA MONROY PIXTUN DE SURET'
 'SILVIA HORTENSIA GONZALEZ MARTINEZ' 'RENE SAZO NAVICHOQUE'
 'OLGA MARINA AJQUEJAY SALOJ DE TUBAC' 'LILIANA MARINA FLORES JIMENEZ'
 'MARTA LUZ BETETA ORTIZ DE JORDAN' 'EDGAR ALBERTO SIMON CHALI'
 'CLAUDIO DANIEL YAC OROZCO' 'JUAN ALBERTO CASTA√ëEDA JUAREZ'
 'SILVIA MAGALY GARCIA GARCIA' 'LESBIA MARICELA COTZOJAY PATZAN'
 'MARIO ALEJANDRO NAJARRO GARCIA SALAS' 'VINICIO ARNOLDO NAJERA CARDONA'
 'GILMA LISSETH CHAJON EQUITE' 'EVERILDA HERNANDEZ MARROQUIN DE LORENZANA'
 'CRISTOBAL DE JESUS SANTIZO ROSALES' 'YESSICA FABIOLA RAMOS MELENDEZ'
 'RONY ESTUARDO AREVALO CASTILLO' 'JERVIN ARSENIO FIGUEROA DUBON'
 'ALMA ROSA MARQUEZ ROSALES' 'GLADYS JHOANA SALGUERO CARBALLO'
 'JESSICA ALEJANDRA ESTRADA GARCIA' 'ELSA PATRICIA DE LEON MEJIA'
 'ANGELA PATRICIA PU GRIJALVA' 'MARTHA SUSANA ROBLES CHAVEZ'
 'ANNY VICTORIA PERDOMO VILLATORO' 'HECTOR RAUL ESCUN VIDES'
 'DAVID SALOMON MEJIA SAMAYOA' 'DORA BEATRIZ BARRIOS CRUZ'
 'ARGELIA DE JESUS ACOSTA SOZA' 'HAROLDO ENRIQUE NAVAS PAZ'
 'AMARILIS RIVAS MEJIA DE DIAZ' 'CARLOS ANIBAL LOPEZ'
 'BRYAN ONELL GAITAN RODRIGUEZ' 'MARTA LISBETH CUMATZ RAMIREZ'
 'GRELDER ARCELI AGUILAR AVILA' 'ROSA MELIA ROQUE COLINDRES'
 'CLARA ARMIDA MORALES CASTILLO' 'REYNALDO RECINOS CASTILLO'
 'AROLDO HOSBERI SOSA L√ìPEZ' 'YURI ESTEBAN LE√ìN REYES'
 'MAR√çA ELENA MAT√çAS ANTONIO DE MONTEJO' 'LUIS ANTONIO HERRERA TELLO'
 'AUGUSTO REN√â CASTILLO AGUIRRE' 'LUIS FERNANDO VENTURA GONZ√ÅLEZ'
 'DELMY ELISAMA CHAVEZ ROBLERO' 'JOS√â DAVID VEL√ÅSQUEZ ANGEL'
 'CLAUDIA HERMENCIA VILLATORO RODR√çGUEZ DE CHAN'
 'JOSELINO SAMAYOA CASTILLO' 'BRENDY SINDENY AGUILAR RIVAS'
 'EMIGDIO GUDIEL RAMOS L√ìPEZ' 'MANRIQUE EZEQUIEL G√ìMEZ RECINOS'
 'CESAR GOD√çNEZ GIR√ìN' 'ROMEO MONTEJO D√çAZ'
 'ANDR√âS TOM√ÅS LE√ìN ANDR√âS GASPAR' 'PEDRO CLEMENTINO G√ìMEZ G√ìMEZ'
 'OSBIN NAARY GARC√çA' 'RUPERTO ARMANDO RAM√çREZ MORALES'
 'ABELARDO MEFIBOSET VILLATORO HERRERA' 'RUDY AROLDO GONZ√ÅLEZ GONZ√ÅLEZ'
 'GABINO PASCUAL GOMEZ' 'ELIDIO NATALIO VEL√ÅSQUEZ MAZARIEGOS'
 'ON√âSIMO ELEUTERIO GOD√çNEZ JACINTO' 'JUAN CARLOS MORALES GONZALEZ'
 'JUAN CARLOS MORALES  GONZ√ÅLEZ' 'AUGUSTO MANUEL ANDRES SEBASTIAN'
 'AUGUSTO MANUEL ANDR√âS SEBASTI√ÅN' 'ARTEMIO NOE MORALES VILLATORO'
 'MARIA LETICIA PIRIR AVILA DE LE√ìN' 'JOS√â  DE JES√öS CAMPOSECO M√âNDOZA'
 'RIGOBERTO GABRIEL GONZ√ÅLEZ M√âRIDA' 'KELVIN VIDALIN DEL VALLE MAZARIEGOS'
 'GLAD√çS  ARACELY SIM√ìN FRANCISCO' 'IGNACIO MATEO IGNACIO'
 'NELVIN EZEQUIEL CASTILLO L√ìPEZ' 'ARACELY FIGUEROA URBINA'
 'ILIANA ARGENTINA VILLATORO FUNES DE AGUSTIN'
 'CARLOS VICENTE CARDONA MARTINEZ' 'LEONEL ARMANDO ORT√çZ M√âNDEZ'
 'JUAN VEL√ÅSQUEZ HERN√ÅNDEZ' 'CARLOS HERIBERTO ESTRADA ANZUETO'
 'ROBERTO RAYMUNDO JUAN' 'JOS√â  DE JES√öS CAMPOSECO MENDOZA'
 'EDVIN ADOLFO MORATAYA MENJIVAR'
 'ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA'
 'ROSMERY YOHANA GARCIA ESQUIVEL' 'ANA MARIBEL CASTILLO DIAZ'
 'JACOBO AREVALO MEDINA' 'LEYVIMARLOT ENRIQUEZ ESPINOSA'
 'LORENZO VILLANUEVA COY' 'MARIA MAGDALENA PEREZ RAMOS DE LOPEZ'
 'JUAN OSVALDO ESTERO MARTINEZ' 'AVELINO TEC CHUN'
 'SILVERIO CHITOP CABRERA' 'MIGUEL ANGEL GONZALEZ LEMUS'
 'GILMAR ISAIAS CUZ PEREZ' 'ELSA YADIRA MARTINEZ PEREZ'
 'SANTIAGO GUTIERREZ RECINOS' 'BLANCA DINA RIVAS LOYO DE SANTIAGO'
 'CESAR ALFREDO OSORIO BOTZOC' 'LESBIA MARELI SANTOS PANCAN DE SUCHITE'
 'MIRNA JUDITH AQUINO RIVERA DE ELIAS' 'ERWIN ARDANI BARRERA PALMA'
 'JUAN AROLDO LOPEZ GARCIA' 'JORGE ADELINO PEREZ UCELO'
 'VICTOR MANUEL PORTILLO RECINOS' 'THELMA YANETH POLANCO PEREZ DE CAMEY'
 'ZOILA LIGIA ELIZABETH MARTINEZ GUZMAN DE CARIAS'
 'CARLOS ANTONIO CORDERO TRIGUEROS' 'ALBA LUZ CRISTINA AGUSTIN MANUEL'
 'NATIVIDAD DE JESUS GREGORIO MARTINEZ' 'ENA BELISA ZU√ëIGA ALARCON'
 'AMARILIS NOHEMI MENDEZ MATEO' 'IRIS VICTORIA TEO ORELLANA'
 'ANA GLORIA MOLINA TEO' 'MARIA FERNANDA AGUILAR REYES'
 'IDALIA OLINA GONZALEZ REYES' 'MARIO LEONEL SANDOVAL MARTINEZ'
 'RONY ESMELTZER RAMOS QUI√ëONEZ' 'REMBERTO RECINOS SARCE√ëO'
 'CECILIA ISABEL ALDECOA CASASOLA DE CASTRO'
 'SANDRA NINNETH BONILLA ARCHILA' 'GAUDY YADIRA ISABEL IXCHOP AMBROCIO'
 'WILMER OBED RAMIREZ LINARES' 'EDGAR ARNULFO GONZALEZ GUDIEL'
 'CARLOS OBDULIO OROZCO REYES' 'MYNOR YOBANY MERLOS FLORIAN'
 'MARA ALEIDA QUI√ëONEZ Y QUI√ëONEZ' 'RONY ESTUARDO SANDOVAL MEDINA'
 'CARLOS HUMBERTO CRUZ ALAY' 'KEVIN DANIEL SANDOVAL SALVADOR'
 'NANSI ROSMERY MARTINEZ BARRIENTOS DE ORTIZ'
 'RUTH CAROLINA SANABRIA ORELLANA' 'YELBELY ROXANA VEGA DONADO'
 'LESVIA YADIRA OLIVA TEO DE ALDANA' 'SANDRA PATRICIA LOPEZ DE CAMBARA'
 'MARCO TULIO CASTILLO MELGAR' 'INMER WILFREDO VELASQUEZ DOMINGUEZ'
 'MARCELINA MARTINEZ GUEVARA DE HERNANDEZ' 'ARTURO CARDONA CHINCHILLA'
 'JULIO RENE HERNANDEZ GONZALEZ' 'EMERSON RAUL ORTIZ LOPEZ'
 'CARLOS ALBERTO LOPEZ ARCHILA' 'CESAR AUGUSTO CUMES CERME√ëO'
 'NERI ROLANDO CORADO CORTEZ' 'ANA AZUCENA CRUZ JIMENEZ'
 'JORGE GOMEZ PEREZ' 'ELDA MARITZA LINARES GALICIA DE CORTEZ'
 'RENE MARTINEZ ALAY' 'SIDDI YALAI ESCOBAR ESQUIVEL'
 'DANIEL ARTURO QUI√ëONEZ SOTO' 'RODOLFO MEDINA'
 'JOSE FRANCISCO OLAN PONCE' 'SANTIAGO CRUZ SERRANO'
 'LILIA SAUDITA SUNTECUN CHAN' 'FERNANDO RAFAEL LEAL CORDOVA'
 'BARBARA JULIAIVONE LOPEZ  VARGAS' 'CLAUDIA  LUCRECIA ROSALES PECHE'
 'FILIBERTO FIDEL PEREZ DE LEON' 'ROERICO DE LA CRUZ ICAL'
 'HUGO RENE MACZ  POP' 'ALFONZO CLAUDIO SALES'
 'VILMA ARACELY GARCIA CRISOSTOMO' 'MARTIR FABIAN MANGANDID'
 'GREGORIO ARGUETA SAMAYOA' 'ALVIS ORLANDO CORADO CARRILLO'
 'EDWIN HUMBERTO MONTERO ALDANA' 'GUSTAVO ADOLFO REYNOSO HERRERA'
 'OSVALDO ALBERTO HOIL OBANDO' 'MARIO AROLDO GUZMAN ALDANA'
 'BRAULIO AMILCAR CHAN TESUCUN' 'HECTOR DAVID MAYEN MILIAN'
 'DAMIAN AC CAHUEC' 'MARIO ORLANDO ZELAYA DARDON' 'OCTAVIO LONE GUERRA'
 'RODERICO DE LA CRUZ  ICAL' 'FREDY ANTONIO CUELLAR RODRIGUEZ'
 'NAZARIO BONIFACIO POP ICAL' 'JUAN DAVID NAVARIJO  CORDOVA'
 'MARCO ANTONIO ZAC  MIGUEL' 'DAYLIN ANTONIO ALVAREZ ALDANA'
 'JUAN FRANCISCO OLIVA ESTRADA' 'MARIO ZELAYA DARDON'
 'DOMINGA GARCIA RAYMUNDO' 'WILSON RANFERI SIGUENZA LOPEZ'
 'ROSEMERY GUADALUPE PIEDRASANTA GRAMAJO DE SIGUENZA'
 'JUAN CARLOS RONQUILLO DE LEON' 'OBDULIO ROLANDO RUIZ ALVA'
 'DINA RUBI GONZALEZ DE LEON' 'GILDARDO HERIBERTO HERNANDEZ LOPEZ'
 'PEDRO GER√ìNIMO SARAT CHAJ' 'IRIS ONDINA HERNANDEZ ROJAS DE SOTO'
 'JUAN JOSE COLOP COLOP' 'JORGE MARIO ROJAS FERNANDEZ'
 'INGRID MIRTHALA LOPEZ GALINDO' 'URSULO ROSARIO MAZARIEGOS CIFUENTES'
 'WILFREDO PIOX TEC√ö' 'BLANCA LIDIA DE LEON DIAZ'
 'AIDAN BERSABE ORDO√ëEZ UTUY' 'ISRAEL MANUEL LOPEZ BATEN'
 'ELI RICARDO PEREZ ROJAS' 'MARIO RENE PEREZ LOPEZ'
 'GUILLERMO ANTONIO DEL VALLE MONTERROSO' 'JAIME IVAN GODINEZ VELASQUEZ'
 'JOSE MARLON ESTRADA MU√ëOZ' 'FRANCISCO FAUSTINO LOPEZ OROZCO'
 'MANUEL DE JESUS SOTO' 'MANUEL PASCUAL CASTRO GARCIA'
 'JUAN SEBASTIAN MENDEZ RAMIREZ' 'RUDY GARCIA GONZALEZ'
 'JUAN JOSE VASQUEZ CALDERON' 'WILIAM OTONIEL QUIXTAN CASTRO'
 'MANFIELD FRANCISCO CASTA√ëON DE LEON' 'AMANDA CAROLINA LOPEZ MERIDA'
 'DAVID FEDERICO CIFUENTES HURTADO' 'YOMAR EFRAIN FLORES BARBERENA'
 'ELSY GREES LOPEZ GOMEZ' 'ANA MARGARITA LLARENA GARC√çA'
 'ESTEBAN FABIAN JOACHIN LOPEZ' 'JOSE OSCAR TIPAZ VELASQUEZ'
 'GONZALO VENTURA LUX' 'ANGELINA LUX MENDOZA DE PUAC' 'JUAN LEON PONCIO'
 'LILIAN SOFIA DE LEON NORIEGA DE MORALES' 'MAXIMILIANO GRAVE IMUL'
 'GASPAR VI CABA' 'MARTA CELIA VENTURA RAMIREZ'
 'CARLOS MANUEL TIRIQUIZ TOL' 'ANA MARIA URIZAR CHAVEZ DE ROSALES'
 'JUAN QUINILLA US' 'CLAUDIA CLEODOMIRA QUI√ëONEZ MENDEZ'
 'LUIS FERNANDO GIL GONZALEZ' 'JACINTO HERNANDEZ BOTON'
 'TOMAS GARCIA PEREZ' 'BAYRON ROLANDO VILLATORO NORIEGA'
 'ANA ESTER URIZAR GIL DE VILLATORO' 'OSBERTO FILADELFO RUIZ URIZAR'
 'HUGO LEONEL BLANCO AGUILAR' 'FERNANDO PEDRO LOPEZ DE LEON'
 'FELIX GASPAR CEDILLO CETO' 'SANTOS REYES DE PAZ CRUZ'
 'JULIAN MIS GARCIA' 'CELESTINO COY MACZ' 'FELIX AZAEL HERRERA DIAZ'
 'MANUEL LOPEZ CHIVALAN' 'JOS√â OSWALDO V√ÅSQUEZ AJIATAZ'
 'BYRON ESTUARDO SILVERIO ZAPETA REYNOZO' 'FERNANDO ROGELIO LOPEZ GALINDO'
 'MARIA PETRONA TZUL ZACARIAS' 'CARLOS LEM CAC'
 'JOSE ALBERTO HERNANDEZ GAMARRO' 'JERONIMO COC JUAREZ'
 'APOLONIO GONZALEZ' 'ANTONIO CALIXTO IXCOTAYAC LUX' 'LUCAS IQUI CAHUEC'
 'TOM√ÅS S√ÅNCHEZ G√ìMEZ' 'ERIK ISRAEL GIRON JUAREZ'
 'MIGUEL ANGEL ARMAS ROCHA' 'JULIO C√âSAR HERRERA ROLD√ÅN'
 'MARIO RENE RIVERA ARGUETA' 'LISBETH SURAMA LOPEZ CALVILLO'
 'MIRTA ALIDA CASTELLANOS MARROQUIN' 'JIMMY EDILBERTO ORTEGA COLOMO'
 'CONCEPCION ANGELICA DEL CID JUAREZ' 'JUVENTIVO PEREZ SICAN'
 'ZOILA ESTHELA JONFE OROZCO' 'AURA MARINA LORENZO SAGCHE'
 'OSCAR OSWALDO SON CAMEZ' 'MIRNA CONSUELO VEGA SEMITE DE GOMEZ'
 'MIRIAM VERONICA GIL QUISQUINAY' 'OSCAR HUMBERTO SUBUYUJ GIL'
 'ROSALBINA SISIMIT PEREN DE SOCOP' 'JOEL CHANCHO SIRIN'
 'JUAN DEMETRIO SICAJOL PEREZ' 'OSCAR YOVANY ZELADA CASTILLO'
 'IRMA YOLANDA CHACON ARROYO' 'JORGE BALDOMERO GONZALEZ BARRERA'
 'YESENIA ALEJANDRA HERRERA MONTERROSO DE PIVARAL'
 'DELIA JUDITH HERNANDEZ CARIAS' 'BRENDA GRISEL GARCIA BATRES DE DONIS'
 'PABLO DE JESUS SANTOS ALVAREZ' 'MIRNA ARACELY MORALES ALVAREZ DE CAMEY'
 'ADELSO FRANCO FLORES' 'JESLIAS ABELINO FELIPE VASQUEZ'
 'JOSE DOMINGO SALAZAR CARIAS' 'SIRIA ILEANA GONZALEZ REYES DE SIERRA'
 'JOSE ALBERTO LOPEZ PEREZ' 'ELVIA ESTELA ORTIZ PEREZ'
 'JOSE OBDULIO BLANCO MEJIA'
 'IDANEA MARIBEL MORALES MIJANGOS DE HERNANDEZ'
 'VILDA NOHEMI BARRIENTOS REYES DE CASTELLANOS'
 'ISCENIA MARLENY LOPEZ MORALES DE HERNANDEZ'
 'MARVIN EDUARDO PEREZ DEL CID' 'CESAR EFRAIN BARRERA Y BARRERA'
 'ROBERTO GALVEZ DONIS' 'JOEL ESTUARDO POCASANGRE FONG'
 'ENIO RELMAN MALDONADO SOLIS' 'HELIUV EDILZAR VASQUEZ NAVARRO'
 'JORGE EBERTO SOLORZANO SANCHEZ' 'VIOLETA FLORIDALMA FUENTES QUIROA'
 'LUIS ALFREDO MAZARIEGOS SCOT' 'LUCRECIA MARISOL OROZCO ROBLES DE CHILEL'
 'ERICK IVAN DE LEON DE LEON' 'ELIAS NATANAEL CHUN CORONADO'
 'RUDY RENE VELASQUEZ Y VELASQUEZ' 'ROSALINDA VITALINA JIMENEZ PEREZ'
 'VICTOR MANUEL AGUILON CRISOSTOMO' 'AMILSA YAMILETH ESTRADA RODR√çGUEZ'
 'FREDY ARMANDO FELICIANO GABRIEL' 'SIMEON  JACOBO PEREZ DOMINGO'
 'AUGUSTO CLAUDIO CINTO MEJIA' 'LUCIO JOEL GARCIA JUAREZ'
 'JOSUE MANFREDO DE LEON LOPEZ' 'MISAEL ELICEO MORALES RAMOS'
 'RICARDO HUGO MENDEZ PEREZ' 'EDELFO ISAAC DIAZ MACARIO'
 'DUBEN HUMBERTO CIFUENTES GONZALEZ' 'RUDY RUBEN PEREZ PEREZ'
 'ABELINO VIDAL ESCALANTE VELASQUEZ' 'ORLANDO ABEL ZUNUN VELASQUEZ'
 'AZALIA AIDE VELASQUEZ MAZARIEGOS' 'HERMINIA EGIDIA GOMEZ VELASQUEZ'
 'FLORIBERTO AGUSTIN ARREAGA VELASQUEZ' 'AMADO BEATO ESCALANTE GONZALEZ'
 'JOSE ELISEO CHAVEZ CHAVEZ' 'ALBERTO ANTONIO ORTIZ MONZON'
 'FIDEL MELECIO MENDEZ PEREZ'
 'SOFIA DEL PILAR CARREDANO ROMERO DE BARRIOS'
 'OLGA RUBY ANDRES MU√ëOZ DE LOPEZ' 'HEIDY NOEMI MONTUFAR GOMEZ DE SERRANO'
 'ANTONY HAMILTON DE LEON' 'MARLENY CELESTE CARREDANO ROMERO DE GARCIA'
 'ELIAS NO√â REYNA DE LE√ìN' 'FREDY RANDOLFO COYOY ARAGON'
 'EDWIN LOPEZ ORIZABA' 'ANGEL DIONEL BARRIOS LOPEZ'
 'HUMBERTO RENE GORDILLO ARANA' 'LUIS EMILIO LE√ìN CALVILLO'
 'RAMIRO ARMANDO OCHOA MALDONADO' 'ARTURO GAMALIEL BARRIOS TUELLS'
 'SANDRA PATRICIA BARRIOS BONILLA' 'CESAR AUGUSTO AMBROCIO GUTIERREZ'
 'ROMULO AUGUSTO TUL MAZARIEGOS'
 'ALCIRA ARGENTINA FLORES GONZALES DE MAYORGA' 'JUAN JOS√â TOBAR TEBALAN'
 'EVELYN LILIANA FUENTES MORALES' 'FREDY NEFTALI OROZCO GODINEZ'
 'C√âSAR AUGUSTO FUENTES DEL VALLE' 'RUDY ARMANDO SANIC CHALI'
 'CESAR AUGUSTO RODRIGUEZ CHILEL' 'VER√ìNICA ESPERANZA AGUILAR G√ìMEZ'
 'DINA CLAUDETH MU√ëOZ MALDONADO DE GUTIERREZ'
 'SILVIA GORETTY OROZCO SEBASTIAN DE ORDO√ëEZ'
 'RUDY AMILCAR REQUENA GOD√çNEZ' 'KANDY ROSSANA DE LEON MORAN'
 'DELFINO ELISEO MALDONADO GAVARRETE' 'LUIS FERNANDO SANCHEZ SILVA'
 'ARMANDO MATEO RAMOS LOPEZ' 'C√âSAR LEONEL RAMIREZ GALICIA'
 'OSBERTO MOISES CINTO VELASQUEZ' 'ROLANDO SANCHEZ CRUZ'

### Variables encargadas - Diego Hern√°ndez üîé

In [139]:
# Listado de las variables de inter√©s
variables_interes = ['STATUS', 'MODALIDAD', 'JORNADA', 'PLAN', 'DEPARTAMENTAL']

# Funci√≥n para realizar limpieza b√°sica en columnas
def limpieza_basica(df, columnas):
    for columna in columnas:
        print(f"--- An√°lisis de la columna: {columna} ---")
        
        # Revisi√≥n de valores nulos
        nulos = df[columna].isnull().sum()
        print(f"üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en '{columna}': {nulos}")

        # Estad√≠sticas generales
        print(f"üî¢ Valores √∫nicos en '{columna}': {df[columna].nunique()}")
        print(f"üîç Primeros 5 valores en '{columna}': {df[columna].unique()[:5]}")
        
        # Detecci√≥n de inconsistencias (espacios adicionales, capitalizaci√≥n)
        valores_limpios = df[columna].str.strip().str.upper().dropna().unique()
        print(f"üßπ Valores √∫nicos despu√©s de limpieza en '{columna}': {valores_limpios}")

        # Distribuci√≥n de clases
        distribucion_clases = df[columna].value_counts()
        print(f"üìä Distribuci√≥n de clases en '{columna}':\n{distribucion_clases}")
        
        # Porcentaje de cada clase
        porcentaje_clases = distribucion_clases / len(df) * 100
        print(f"üìà Porcentaje de cada clase en '{columna}':\n{porcentaje_clases}")
        
        print("\n" + "="*50 + "\n")

# Ejecutar la funci√≥n para las variables de inter√©s
limpieza_basica(dataFrame, variables_interes)

--- An√°lisis de la columna: STATUS ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'STATUS': 0
üî¢ Valores √∫nicos en 'STATUS': 4
üîç Primeros 5 valores en 'STATUS': ['ABIERTA' 'CERRADA TEMPORALMENTE' 'TEMPORAL NOMBRAMIENTO'
 'TEMPORAL TITULOS']
üßπ Valores √∫nicos despu√©s de limpieza en 'STATUS': ['ABIERTA' 'CERRADA TEMPORALMENTE' 'TEMPORAL NOMBRAMIENTO'
 'TEMPORAL TITULOS']
üìä Distribuci√≥n de clases en 'STATUS':
STATUS
ABIERTA                  6545
CERRADA TEMPORALMENTE    2663
TEMPORAL TITULOS          119
TEMPORAL NOMBRAMIENTO       3
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'STATUS':
STATUS
ABIERTA                  70.150054
CERRADA TEMPORALMENTE    28.542337
TEMPORAL TITULOS          1.275456
TEMPORAL NOMBRAMIENTO     0.032154
Name: count, dtype: float64

==================================================

--- An√°lisis de la columna: MODALIDAD ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'MODALIDAD': 0
üî¢ Valores √∫nicos en 'MODALIDAD': 2
üîç Primeros 5 valores en 'MODALIDAD': ['MONOLINGUE' 'BILINGUE']
üßπ Valores √∫nicos despu√©s de limpieza en 'MODALIDAD': ['MONOLINGUE' 'BILINGUE']
üìä Distribuci√≥n de clases en 'MODALIDAD':
MODALIDAD
MONOLINGUE    9038
BILINGUE       292
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'MODALIDAD':
MODALIDAD
MONOLINGUE    96.870311
BILINGUE       3.129689
Name: count, dtype: float64

==================================================

--- An√°lisis de la columna: JORNADA ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'JORNADA': 0
üî¢ Valores √∫nicos en 'JORNADA': 6
üîç Primeros 5 valores en 'JORNADA': ['MATUTINA' 'VESPERTINA' 'DOBLE' 'NOCTURNA' 'SIN JORNADA']
üßπ Valores √∫nicos despu√©s de limpieza en 'JORNADA': ['MATUTINA' 'VESPERTINA' 'DOBLE' 'NOCTURNA' 'SIN JORNADA' 'INTERMEDIA']
üìä Distribuci√≥n de clases en 'JORNADA':
JORNADA
DOBLE          3036
VESPERTINA     2567
MATUTINA       2382
SIN JORNADA     964
NOCTURNA        289
INTERMEDIA       92
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'JORNADA':
JORNADA
DOBLE          32.540193
VESPERTINA     27.513398
MATUTINA       25.530547
SIN JORNADA    10.332262
NOCTURNA        3.097535
INTERMEDIA      0.986066
Name: count, dtype: float64

==================================================

--- An√°lisis de la columna: PLAN ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'PLAN': 0
üî¢ Valores √∫nicos en 'PLAN': 13
üîç Primeros 5 valores en 'PLAN': ['DIARIO(REGULAR)' 'FIN DE SEMANA' 'A DISTANCIA' 'SEMIPRESENCIAL'
 'SEMIPRESENCIAL (FIN DE SEMANA)']
üßπ Valores √∫nicos despu√©s de limpieza en 'PLAN': ['DIARIO(REGULAR)' 'FIN DE SEMANA' 'A DISTANCIA' 'SEMIPRESENCIAL'
 'SEMIPRESENCIAL (FIN DE SEMANA)' 'SEMIPRESENCIAL (UN D√çA A LA SEMANA)'
 'SABATINO' 'SEMIPRESENCIAL (DOS D√çAS A LA SEMANA)' 'VIRTUAL A DISTANCIA'
 'DOMINICAL' 'MIXTO' 'INTERCALADO' 'IRREGULAR']
üìä Distribuci√≥n de clases en 'PLAN':
PLAN
DIARIO(REGULAR)                          5720
FIN DE SEMANA                            2328
SEMIPRESENCIAL (FIN DE SEMANA)            481
SEMIPRESENCIAL (UN D√çA A LA SEMANA)       398
A DISTANCIA                               143
SEMIPRESENCIAL                             86
SEMIPRESENCIAL (DOS D√çAS A LA SEMANA)      57
VIRTUAL A DISTANCIA                        50
SABATINO                                   41
DOMINICAL                                  19
MIXTO                                       3
INTERCALADO                                 2
IRREGULAR                                   2
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'PLAN':
PLAN
DIARIO(REGULAR)                          61.307610
FIN DE SEMANA                            24.951768
SEMIPRESENCIAL (FIN DE SEMANA)            5.155413
SEMIPRESENCIAL (UN D√çA A LA SEMANA)       4.265809
A DISTANCIA                               1.532690
SEMIPRESENCIAL                            0.921758
SEMIPRESENCIAL (DOS D√çAS A LA SEMANA)     0.610932
VIRTUAL A DISTANCIA                       0.535906
SABATINO                                  0.439443
DOMINICAL                                 0.203644
MIXTO                                     0.032154
INTERCALADO                               0.021436
IRREGULAR                                 0.021436
Name: count, dtype: float64

==================================================

--- An√°lisis de la columna: DEPARTAMENTAL ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'DEPARTAMENTAL': 0
üî¢ Valores √∫nicos en 'DEPARTAMENTAL': 26
üîç Primeros 5 valores en 'DEPARTAMENTAL': ['ALTA VERAPAZ' 'BAJA VERAPAZ' 'CHIMALTENANGO' 'CHIQUIMULA'
 'GUATEMALA NORTE']
üßπ Valores √∫nicos despu√©s de limpieza en 'DEPARTAMENTAL': ['ALTA VERAPAZ' 'BAJA VERAPAZ' 'CHIMALTENANGO' 'CHIQUIMULA'
 'GUATEMALA NORTE' 'GUATEMALA ORIENTE' 'GUATEMALA OCCIDENTE'
 'GUATEMALA SUR' 'EL PROGRESO' 'ESCUINTLA' 'HUEHUETENANGO' 'IZABAL'
 'JALAPA' 'JUTIAPA' 'PET√âN' 'QUETZALTENANGO' 'QUICH√â' 'QUICH√â NORTE'
 'RETALHULEU' 'SACATEP√âQUEZ' 'SANTA ROSA' 'SAN MARCOS' 'SOLOL√Å'
 'SUCHITEP√âQUEZ' 'TOTONICAP√ÅN' 'ZACAPA']
üìä Distribuci√≥n de clases en 'DEPARTAMENTAL':
DEPARTAMENTAL
GUATEMALA NORTE        1050
GUATEMALA SUR           833
GUATEMALA OCCIDENTE     785
ESCUINTLA               628
SAN MARCOS              574
HUEHUETENANGO           516
QUETZALTENANGO          491
SUCHITEP√âQUEZ           385
ALTA VERAPAZ            374
GUATEMALA ORIENTE       373
IZABAL                  368
PET√âN                   366
CHIMALTENANGO           359
SACATEP√âQUEZ            319
RETALHULEU              316
JUTIAPA                 310
QUICH√â                  203
CHIQUIMULA              170
SANTA ROSA              157
JALAPA                  151
SOLOL√Å                  138
EL PROGRESO             125
BAJA VERAPAZ            114
ZACAPA                   94
TOTONICAP√ÅN              90
QUICH√â NORTE             41
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'DEPARTAMENTAL':
DEPARTAMENTAL
GUATEMALA NORTE        11.254019
GUATEMALA SUR           8.928189
GUATEMALA OCCIDENTE     8.413719
ESCUINTLA               6.730975
SAN MARCOS              6.152197
HUEHUETENANGO           5.530547
QUETZALTENANGO          5.262594
SUCHITEP√âQUEZ           4.126474
ALTA VERAPAZ            4.008574
GUATEMALA ORIENTE       3.997856
IZABAL                  3.944266
PET√âN                   3.922830
CHIMALTENANGO           3.847803
SACATEP√âQUEZ            3.419078
RETALHULEU              3.386924
JUTIAPA                 3.322615
QUICH√â                  2.175777
CHIQUIMULA              1.822079
SANTA ROSA              1.682744
JALAPA                  1.618435
SOLOL√Å                  1.479100
EL PROGRESO             1.339764
BAJA VERAPAZ            1.221865
ZACAPA                  1.007503
TOTONICAP√ÅN             0.964630
QUICH√â NORTE            0.439443
Name: count, dtype: float64

==================================================

### Variables encargadas - Linda Jim√©nez üîé

In [140]:
# Listado de las variables de inter√©s
variables_interes = ['DIRECTOR', 'NIVEL', 'SECTOR', 'AREA']

# Funci√≥n para realizar limpieza b√°sica en columnas
def limpieza_basica(df, columnas):
    for columna in columnas:
        print(f"--- An√°lisis de la columna: {columna} ---")
        
        # Revisi√≥n de valores nulos
        nulos = df[columna].isnull().sum()
        print(f"üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en '{columna}': {nulos}")

        # Estad√≠sticas generales
        print(f"üî¢ Valores √∫nicos en '{columna}': {df[columna].nunique()}")
        print(f"üîç Primeros 5 valores en '{columna}': {df[columna].unique()[:5]}")
        
        # Detecci√≥n de inconsistencias (espacios adicionales, capitalizaci√≥n)
        valores_limpios = df[columna].str.strip().str.upper().dropna().unique()
        print(f"üßπ Valores √∫nicos despu√©s de limpieza en '{columna}': {valores_limpios}")

        # Distribuci√≥n de clases
        distribucion_clases = df[columna].value_counts()
        print(f"üìä Distribuci√≥n de clases en '{columna}':\n{distribucion_clases}")
        
        # Porcentaje de cada clase
        porcentaje_clases = distribucion_clases / len(df) * 100
        print(f"üìà Porcentaje de cada clase en '{columna}':\n{porcentaje_clases}")
        
        print("\n" + "="*50 + "\n")

# Ejecutar la funci√≥n para las variables de inter√©s
limpieza_basica(dataFrame, variables_interes)

--- An√°lisis de la columna: DIRECTOR ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'DIRECTOR': 897
üî¢ Valores √∫nicos en 'DIRECTOR': 4706
üîç Primeros 5 valores en 'DIRECTOR': ['GUSTAVO ADOLFO SIERRA POP' 'GILMA DOLORES GUAY PAZ DE LEAL'
 'VIRGINIA  SOLANO SERRANO' 'H√âCTOR ROLANDO CHUN POOU'
 'VICTOR HUGO DOM√çNGUEZ REYES']
üßπ Valores √∫nicos despu√©s de limpieza en 'DIRECTOR': ['GUSTAVO ADOLFO SIERRA POP' 'GILMA DOLORES GUAY PAZ DE LEAL'
 'VIRGINIA  SOLANO SERRANO' ... 'ANA MAR√çA CUELLAR GUERRA'
 'MARLON JOSU√â ARCHILA LORENZO' 'ROBIDIO  PORTILLO SALGUERO']
üìä Distribuci√≥n de clases en 'DIRECTOR':
DIRECTOR
---                               83
----                              28
--                                27
-----                             14
SIN DATO                          14
                                  ..
MARIO ROLANDO MONTEJO L√ìPEZ        1
NILSAN SAYDETH MONTEJO MENDOZA     1
ISMAEL EUGENIO PASCUAL GUILL√âN     1
SONIA NATIVIDAD MORENO M√âRIDA      1
PABLO  TAY√öN SONTAY                1
Name: count, Length: 4706, dtype: int64
üìà Porcentaje de cada clase en 'DIRECTOR':
DIRECTOR
---                               0.889603
----                              0.300107
--                                0.289389
-----                             0.150054
SIN DATO                          0.150054
                                    ...
MARIO ROLANDO MONTEJO L√ìPEZ       0.010718
NILSAN SAYDETH MONTEJO MENDOZA    0.010718
ISMAEL EUGENIO PASCUAL GUILL√âN    0.010718
SONIA NATIVIDAD MORENO M√âRIDA     0.010718
PABLO  TAY√öN SONTAY               0.010718
Name: count, Length: 4706, dtype: float64

==================================================

--- An√°lisis de la columna: NIVEL ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'NIVEL': 0
üî¢ Valores √∫nicos en 'NIVEL': 1
üîç Primeros 5 valores en 'NIVEL': ['DIVERSIFICADO']
üßπ Valores √∫nicos despu√©s de limpieza en 'NIVEL': ['DIVERSIFICADO']
üìä Distribuci√≥n de clases en 'NIVEL':
NIVEL
DIVERSIFICADO    9330
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'NIVEL':
NIVEL
DIVERSIFICADO    100.0
Name: count, dtype: float64

==================================================

--- An√°lisis de la columna: SECTOR ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'SECTOR': 0
üî¢ Valores √∫nicos en 'SECTOR': 4
üîç Primeros 5 valores en 'SECTOR': ['PRIVADO' 'OFICIAL' 'MUNICIPAL' 'COOPERATIVA']
üßπ Valores √∫nicos despu√©s de limpieza en 'SECTOR': ['PRIVADO' 'OFICIAL' 'MUNICIPAL' 'COOPERATIVA']
üìä Distribuci√≥n de clases en 'SECTOR':
SECTOR
PRIVADO        7955
OFICIAL         990
COOPERATIVA     245
MUNICIPAL       140
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'SECTOR':
SECTOR
PRIVADO        85.262594
OFICIAL        10.610932
COOPERATIVA     2.625938
MUNICIPAL       1.500536
Name: count, dtype: float64

==================================================

--- An√°lisis de la columna: AREA ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'AREA': 0
üî¢ Valores √∫nicos en 'AREA': 3
üîç Primeros 5 valores en 'AREA': ['URBANA' 'RURAL' 'SIN ESPECIFICAR']
üßπ Valores √∫nicos despu√©s de limpieza en 'AREA': ['URBANA' 'RURAL' 'SIN ESPECIFICAR']
üìä Distribuci√≥n de clases en 'AREA':
AREA
URBANA             7604
RURAL              1724
SIN ESPECIFICAR       2
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'AREA':
AREA
URBANA             81.500536
RURAL              18.478028
SIN ESPECIFICAR     0.021436
Name: count, dtype: float64

==================================================

üßπ Valores √∫nicos despu√©s de limpieza en 'AREA': ['URBANA' 'RURAL' 'SIN ESPECIFICAR']
üìä Distribuci√≥n de clases en 'AREA':
AREA
URBANA             7604
RURAL              1724
SIN ESPECIFICAR       2
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'AREA':
AREA
URBANA             81.500536
RURAL              18.478028
SIN ESPECIFICAR     0.021436
Name: count, dtype: float64

==================================================

In [141]:
# Importar las librer√≠as necesarias
import pandas as pd

# Cargar el conjunto de datos
filePath = 'UnifiedData/UnifiedData.csv'  # Reemplaza con la ruta real de tu archivo CSV
dataFrame = pd.read_csv(filePath)

# Mostrar las primeras filas del conjunto de datos
print("üìù Primeras filas del conjunto de datos:")
print(dataFrame.head())

# Obtener el n√∫mero total de filas y columnas
numFilas, numColumnas = dataFrame.shape
print(f"\nüî¢ N√∫mero total de filas (datos crudos): {numFilas}")
print(f"üî† N√∫mero total de variables: {numColumnas}")

# Listar los nombres de las variables
print("\nüè∑Ô∏è Nombres de las variables en el conjunto de datos:")
print(dataFrame.columns.tolist())

# Verificaci√≥n de consistencia
dataFrame['DISTRITO'] = dataFrame['DISTRITO'].str.upper()
dataFrame['DEPARTAMENTO'] = dataFrame['DEPARTAMENTO'].str.upper()
dataFrame['MUNICIPIO'] = dataFrame['MUNICIPIO'].str.upper()

# Funci√≥n para agrupar categor√≠as poco frecuentes
def agrupar_categorias(serie, umbral=0.01):
    frecuencia = serie.value_counts(normalize=True)
    categorias_poco_frecuentes = frecuencia[frecuencia < umbral].index
    serie = serie.apply(lambda x: 'OTROS' if x in categorias_poco_frecuentes else x)
    return serie

# Agrupar categor√≠as poco frecuentes
dataFrame['DISTRITO'] = agrupar_categorias(dataFrame['DISTRITO'])
dataFrame['DEPARTAMENTO'] = agrupar_categorias(dataFrame['DEPARTAMENTO'])
dataFrame['MUNICIPIO'] = agrupar_categorias(dataFrame['MUNICIPIO'])

# Codificaci√≥n de variables categ√≥ricas
dataFrame = pd.get_dummies(dataFrame, columns=['DISTRITO', 'DEPARTAMENTO', 'MUNICIPIO'])

# Mostrar el resultado final
print("\nüìù Primeras filas del conjunto de datos despu√©s del tratamiento:")
print(dataFrame.head())
print(f"\nüî¢ N√∫mero total de filas despu√©s del tratamiento: {dataFrame.shape[0]}")
print(f"üî† N√∫mero total de variables despu√©s del tratamiento: {dataFrame.shape[1]}")

üìù Primeras filas del conjunto de datos:
          CODIGO DISTRITO  DEPARTAMENTO MUNICIPIO  \
0  16-01-0138-46   16-031  ALTA VERAPAZ     COBAN
1  16-01-0139-46   16-031  ALTA VERAPAZ     COBAN
2  16-01-0140-46   16-031  ALTA VERAPAZ     COBAN
3  16-01-0141-46   16-005  ALTA VERAPAZ     COBAN
4  16-01-0142-46   16-005  ALTA VERAPAZ     COBAN

                                     ESTABLECIMIENTO  \
0                                     COLEGIO  COBAN
1                  COLEGIO PARTICULAR MIXTO  VERAPAZ
2                            COLEGIO "LA INMACULADA"
3           ESCUELA NACIONAL DE CIENCIAS COMERCIALES
4  INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...

                                DIRECCION  TELEFONO  \
0  KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8  77945104
1            KM 209.5 ENTRADA A LA CIUDAD  77367402
2               7A. AVENIDA 11-109 ZONA 6  78232301
3                   2A CALLE 11-10 ZONA 2  79514215
4                     3A AVE 6-23 ZONA 11  79521468

                        SUPERVISOR                        DIRECTOR  \
0  MERCEDES JOSEFINA TORRES GALVEZ       GUSTAVO ADOLFO SIERRA POP
1  MERCEDES JOSEFINA TORRES GALVEZ  GILMA DOLORES GUAY PAZ DE LEAL
2  MERCEDES JOSEFINA TORRES GALVEZ        VIRGINIA  SOLANO SERRANO
3              RUDY ADOLFO TOT OCH        H√âCTOR ROLANDO CHUN POOU
4              RUDY ADOLFO TOT OCH     VICTOR HUGO DOM√çNGUEZ REYES

           NIVEL   SECTOR    AREA   STATUS   MODALIDAD     JORNADA  \
0  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  MONOLINGUE    MATUTINA
1  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  MONOLINGUE    MATUTINA
2  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  MONOLINGUE    MATUTINA
3  DIVERSIFICADO  OFICIAL  URBANA  ABIERTA  MONOLINGUE    MATUTINA
4  DIVERSIFICADO  OFICIAL  URBANA  ABIERTA    BILINGUE  VESPERTINA

              PLAN DEPARTAMENTAL
0  DIARIO(REGULAR)  ALTA VERAPAZ
1  DIARIO(REGULAR)  ALTA VERAPAZ
2  DIARIO(REGULAR)  ALTA VERAPAZ
3  DIARIO(REGULAR)  ALTA VERAPAZ
4  DIARIO(REGULAR)  ALTA VERAPAZ

üî¢ N√∫mero total de filas (datos crudos): 9330
üî† N√∫mero total de variables: 17

üè∑Ô∏è Nombres de las variables en el conjunto de datos:
['CODIGO', 'DISTRITO', 'DEPARTAMENTO', 'MUNICIPIO', 'ESTABLECIMIENTO', 'DIRECCION', 'TELEFONO', 'SUPERVISOR', 'DIRECTOR', 'NIVEL', 'SECTOR', 'AREA', 'STATUS', 'MODALIDAD', 'JORNADA', 'PLAN', 'DEPARTAMENTAL']

üìù Primeras filas del conjunto de datos despu√©s del tratamiento:
          CODIGO                                    ESTABLECIMIENTO  \
0  16-01-0138-46                                     COLEGIO  COBAN
1  16-01-0139-46                  COLEGIO PARTICULAR MIXTO  VERAPAZ
2  16-01-0140-46                            COLEGIO "LA INMACULADA"
3  16-01-0141-46           ESCUELA NACIONAL DE CIENCIAS COMERCIALES
4  16-01-0142-46  INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...

                                DIRECCION  TELEFONO  \
0  KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8  77945104
1            KM 209.5 ENTRADA A LA CIUDAD  77367402
2               7A. AVENIDA 11-109 ZONA 6  78232301
3                   2A CALLE 11-10 ZONA 2  79514215
4                     3A AVE 6-23 ZONA 11  79521468

                        SUPERVISOR                        DIRECTOR  \
0  MERCEDES JOSEFINA TORRES GALVEZ       GUSTAVO ADOLFO SIERRA POP
1  MERCEDES JOSEFINA TORRES GALVEZ  GILMA DOLORES GUAY PAZ DE LEAL
2  MERCEDES JOSEFINA TORRES GALVEZ        VIRGINIA  SOLANO SERRANO
3              RUDY ADOLFO TOT OCH        H√âCTOR ROLANDO CHUN POOU
4              RUDY ADOLFO TOT OCH     VICTOR HUGO DOM√çNGUEZ REYES

           NIVEL   SECTOR    AREA   STATUS  ... MUNICIPIO_QUETZALTENANGO  \
0  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  ...                    False
1  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  ...                    False
2  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  ...                    False
3  DIVERSIFICADO  OFICIAL  URBANA  ABIERTA  ...                    False
4  DIVERSIFICADO  OFICIAL  URBANA  ABIERTA  ...                    False

  MUNICIPIO_RETALHULEU MUNICIPIO_SAN JUAN SACATEPEQUEZ  \
0                False                           False
1                False                           False
2                False                           False
3                False                           False
4                False                           False

  MUNICIPIO_SAN MIGUEL PETAPA  MUNICIPIO_SANTA LUCIA COTZUMALGUAPA  \
0                       False                                False
1                       False                                False
2                       False                                False
3                       False                                False
4                       False                                False

   MUNICIPIO_VILLA NUEVA  MUNICIPIO_ZONA 1  MUNICIPIO_ZONA 12  \
0                  False             False              False
1                  False             False              False
2                  False             False              False
3                  False             False              False
4                  False             False              False

   MUNICIPIO_ZONA 18  MUNICIPIO_ZONA 7
0              False             False
1              False             False
2              False             False
3              False             False
4              False             False

[5 rows x 71 columns]

üî¢ N√∫mero total de filas despu√©s del tratamiento: 9330
üî† N√∫mero total de variables despu√©s del tratamiento: 71

üìù Primeras filas del conjunto de datos despu√©s del tratamiento:
          CODIGO                                    ESTABLECIMIENTO  \
0  16-01-0138-46                                     COLEGIO  COBAN
1  16-01-0139-46                  COLEGIO PARTICULAR MIXTO  VERAPAZ
2  16-01-0140-46                            COLEGIO "LA INMACULADA"
3  16-01-0141-46           ESCUELA NACIONAL DE CIENCIAS COMERCIALES
4  16-01-0142-46  INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...

                                DIRECCION  TELEFONO  \
0  KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8  77945104
1            KM 209.5 ENTRADA A LA CIUDAD  77367402
2               7A. AVENIDA 11-109 ZONA 6  78232301
3                   2A CALLE 11-10 ZONA 2  79514215
4                     3A AVE 6-23 ZONA 11  79521468

                        SUPERVISOR                        DIRECTOR  \
0  MERCEDES JOSEFINA TORRES GALVEZ       GUSTAVO ADOLFO SIERRA POP
1  MERCEDES JOSEFINA TORRES GALVEZ  GILMA DOLORES GUAY PAZ DE LEAL
2  MERCEDES JOSEFINA TORRES GALVEZ        VIRGINIA  SOLANO SERRANO
3              RUDY ADOLFO TOT OCH        H√âCTOR ROLANDO CHUN POOU
4              RUDY ADOLFO TOT OCH     VICTOR HUGO DOM√çNGUEZ REYES

           NIVEL   SECTOR    AREA   STATUS  ... MUNICIPIO_QUETZALTENANGO  \
0  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  ...                    False
1  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  ...                    False
2  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  ...                    False
3  DIVERSIFICADO  OFICIAL  URBANA  ABIERTA  ...                    False
4  DIVERSIFICADO  OFICIAL  URBANA  ABIERTA  ...                    False

  MUNICIPIO_RETALHULEU MUNICIPIO_SAN JUAN SACATEPEQUEZ  \
0                False                           False
1                False                           False
2                False                           False
3                False                           False
4                False                           False

  MUNICIPIO_SAN MIGUEL PETAPA  MUNICIPIO_SANTA LUCIA COTZUMALGUAPA  \
0                       False                                False
1                       False                                False
2                       False                                False
3                       False                                False
4                       False                                False

   MUNICIPIO_VILLA NUEVA  MUNICIPIO_ZONA 1  MUNICIPIO_ZONA 12  \
0                  False             False              False
1                  False             False              False
2                  False             False              False
3                  False             False              False
4                  False             False              False

   MUNICIPIO_ZONA 18  MUNICIPIO_ZONA 7
0              False             False
1              False             False
2              False             False
3              False             False
4              False             False

[5 rows x 71 columns]

üî¢ N√∫mero total de filas despu√©s del tratamiento: 9330
üî† N√∫mero total de variables despu√©s del tratamiento: 71

## Limpieza del Conjunto de Datos

### Limpieza de C√≥digo, Distrito, Departamento, Municipio (David Arag√≥n)

In [142]:
# C√≥digo aqu√≠.

### Limpieza de Establecimiento, Direcci√≥n, Tel√©fono y Supervisor (Mario Guerra)

Establecimiento.

In [143]:
# Eliminaci√≥n de datos faltantes.

dataFrame = dataFrame.dropna(subset=['ESTABLECIMIENTO'])

dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9330 entries, 0 to 9329
Data columns (total 71 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   CODIGO                               9330 non-null   object
 1   ESTABLECIMIENTO                      9330 non-null   object
 2   DIRECCION                            9279 non-null   object
 3   TELEFONO                             8791 non-null   object
 4   SUPERVISOR                           9121 non-null   object
 5   DIRECTOR                             8433 non-null   object
 6   NIVEL                                9330 non-null   object
 7   SECTOR                               9330 non-null   object
 8   AREA                                 9330 non-null   object
 9   STATUS                               9330 non-null   object
 10  MODALIDAD                            9330 non-null   object
 11  JORNADA                              9330 non-null   object
 12  PLAN                                 9330 non-null   object
 13  DEPARTAMENTAL                        9330 non-null   object
 14  DISTRITO_01-403                      9330 non-null   bool
 15  DISTRITO_01-411                      9330 non-null   bool
 16  DISTRITO_01-641                      9330 non-null   bool
 17  DISTRITO_03-002                      9330 non-null   bool
 18  DISTRITO_05-007                      9330 non-null   bool
 19  DISTRITO_05-033                      9330 non-null   bool
 20  DISTRITO_10-019                      9330 non-null   bool
 21  DISTRITO_11-017                      9330 non-null   bool
 22  DISTRITO_13-004                      9330 non-null   bool
 23  DISTRITO_18-008                      9330 non-null   bool
 24  DISTRITO_18-039                      9330 non-null   bool
 25  DISTRITO_OTROS                       9330 non-null   bool
 26  DEPARTAMENTO_ALTA VERAPAZ            9330 non-null   bool
 27  DEPARTAMENTO_BAJA VERAPAZ            9330 non-null   bool
 28  DEPARTAMENTO_CHIMALTENANGO           9330 non-null   bool
 29  DEPARTAMENTO_CHIQUIMULA              9330 non-null   bool
 30  DEPARTAMENTO_CIUDAD CAPITAL          9330 non-null   bool
 31  DEPARTAMENTO_EL PROGRESO             9330 non-null   bool
 32  DEPARTAMENTO_ESCUINTLA               9330 non-null   bool
 33  DEPARTAMENTO_GUATEMALA               9330 non-null   bool
 34  DEPARTAMENTO_HUEHUETENANGO           9330 non-null   bool
 35  DEPARTAMENTO_IZABAL                  9330 non-null   bool
 36  DEPARTAMENTO_JALAPA                  9330 non-null   bool
 37  DEPARTAMENTO_JUTIAPA                 9330 non-null   bool
 38  DEPARTAMENTO_OTROS                   9330 non-null   bool
 39  DEPARTAMENTO_PETEN                   9330 non-null   bool
 40  DEPARTAMENTO_QUETZALTENANGO          9330 non-null   bool
 41  DEPARTAMENTO_QUICHE                  9330 non-null   bool
 42  DEPARTAMENTO_RETALHULEU              9330 non-null   bool
 43  DEPARTAMENTO_SACATEPEQUEZ            9330 non-null   bool
 44  DEPARTAMENTO_SAN MARCOS              9330 non-null   bool
 45  DEPARTAMENTO_SANTA ROSA              9330 non-null   bool
 46  DEPARTAMENTO_SOLOLA                  9330 non-null   bool
 47  DEPARTAMENTO_SUCHITEPEQUEZ           9330 non-null   bool
 48  DEPARTAMENTO_ZACAPA                  9330 non-null   bool
 49  MUNICIPIO_AMATITLAN                  9330 non-null   bool
 50  MUNICIPIO_ANTIGUA GUATEMALA          9330 non-null   bool
 51  MUNICIPIO_CHIMALTENANGO              9330 non-null   bool
 52  MUNICIPIO_COBAN                      9330 non-null   bool
 53  MUNICIPIO_ESCUINTLA                  9330 non-null   bool
 54  MUNICIPIO_HUEHUETENANGO              9330 non-null   bool
 55  MUNICIPIO_JUTIAPA                    9330 non-null   bool
 56  MUNICIPIO_MAZATENANGO                9330 non-null   bool
 57  MUNICIPIO_MIXCO                      9330 non-null   bool
 58  MUNICIPIO_MORALES                    9330 non-null   bool
 59  MUNICIPIO_OTROS                      9330 non-null   bool
 60  MUNICIPIO_PUERTO BARRIOS             9330 non-null   bool
 61  MUNICIPIO_QUETZALTENANGO             9330 non-null   bool
 62  MUNICIPIO_RETALHULEU                 9330 non-null   bool
 63  MUNICIPIO_SAN JUAN SACATEPEQUEZ      9330 non-null   bool
 64  MUNICIPIO_SAN MIGUEL PETAPA          9330 non-null   bool
 65  MUNICIPIO_SANTA LUCIA COTZUMALGUAPA  9330 non-null   bool
 66  MUNICIPIO_VILLA NUEVA                9330 non-null   bool
 67  MUNICIPIO_ZONA 1                     9330 non-null   bool
 68  MUNICIPIO_ZONA 12                    9330 non-null   bool
 69  MUNICIPIO_ZONA 18                    9330 non-null   bool
 70  MUNICIPIO_ZONA 7                     9330 non-null   bool
dtypes: bool(57), object(14)
memory usage: 1.5+ MB

In [144]:
# Ejemplo de correcci√≥n de errores comunes:
# Reemplazar errores comunes
dataFrame['ESTABLECIMIENTO'] = dataFrame['ESTABLECIMIENTO'].str.replace('colegioo', 'colegio')
dataFrame['ESTABLECIMIENTO'] = dataFrame['ESTABLECIMIENTO'].str.replace('escula', 'escuela')
dataFrame['ESTABLECIMIENTO'] = dataFrame['ESTABLECIMIENTO'].str.replace('[^A-Za-z0-9 ]+', '')  # Eliminar caracteres especiales

# Reemplazar m√∫ltiples espacios por un solo espacio
dataFrame['ESTABLECIMIENTO'] = dataFrame['ESTABLECIMIENTO'].str.replace(r'\s+', ' ', regex=True)

In [145]:
import unicodedata

# Funci√≥n para eliminar comillas y tildes
def limpiar_texto(texto):
    # Eliminar comillas simples y dobles
    texto = texto.replace("'", "").replace('"', "").replace('-', "")

    texto = texto.replace('"', "")
    
    # Sustituir letras con tilde por letras sin tilde
    texto = unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('ASCII')

    # Eliminar comillas alrededor del texto
    if texto.startswith('"') and texto.endswith('"'):
        texto = texto[1:-1]
    
    return texto

# Aplicar la funci√≥n a la columna 'ESTABLECIMIENTO'
dataFrame['ESTABLECIMIENTO'] = dataFrame['ESTABLECIMIENTO'].apply(limpiar_texto)

# Verificar los cambios
dataFrame[['ESTABLECIMIENTO']].head(50)

                                      ESTABLECIMIENTO
0                                       COLEGIO COBAN
1                    COLEGIO PARTICULAR MIXTO VERAPAZ
2                               COLEGIO LA INMACULADA
3            ESCUELA NACIONAL DE CIENCIAS COMERCIALES
4   INSTITUTO NORMAL MIXTO DEL NORTE EMILIO ROSALE...
5                   COLEGIO PARTICULAR MIXTO IMPERIAL
6     INSTITUTO DE TURSMO Y AVIACON DEL NORTE I.T.A.N
7                               COLEGIO LA INMACULADA
8      INSTITUTO INTERCULTRUAL ALTAVERAPACENCESE IIAV
9                                LICEO MODERNO LATINO
10      INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA
11                    COLEGIO DE INFORMATICA CENINFAV
12                       COLEGIO EVANGELICO LA PATRIA
13                          LICEO AMERICANO DEL NORTE
14                          LICEO AMERICANO DEL NORTE
15                                COLEGIO LA LIBERTAD
16  INSTITUTO NORMAL PREPRIMARIA BILINGUE ADSCRITO...
17  INSTITUTO NORMAL PRIMARIA BILINGUE INTERCULTUR...
18       CENTRO DE FORMACION INTEGRAL LAS CONCHAS FMG
19         INSTITUTO MIXTO PRIVADO SALUD Y DESARROLLO
20            INSTITUTO PRIVADO RAUL CHENAL HEINEMANN
21                        LICEO MIGUEL ANGEL ASTURIAS
22                        LICEO MIGUEL ANGEL ASTURIAS
23                   COLEGIO CRISTIANO BILINGUE VERBO
24           ESCUELA NACIONAL DE CIENCIAS COMERCIALES
25                            COLEGIO NUEVOS SENDEROS
26            INSTITUTO PRIVADO RAUL CHENAL HEINEMANN
27  INSTITUTO MIXTO DE EDUCACION BILINGUE INTERCUL...
28                           COLEGIO HISPANOAMERICANO
29  INSTITUTO DE MAGISTERIO DE EDUCACION PREPRIMAR...
30       COLEGIO PARTICULAR MIXTO ANTON DE MONTESINOS
31      INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA
32       COLEGIO PARTICULAR MIXTO ANTON DE MONTESINOS
33      INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA
34         INSTITUTO MIXTO PRIVADO SALUD Y DESARROLLO
35  CENTRO DE FORMACION INTEGRAL CIUDAD DE LA ESPE...
36               INSTITUTO MAYA COMUNITARIO K AMOLB E
37                          LICEO AMERICANO DEL NORTE
38                    COLEGIO DE INFORMATICA CENINFAV
39                    COLEGIO DE INFORMATICA CENINFAV
40                  COLEGIO PARTICULAR MIXTO IMPERIAL
41   COLEGIO PRIVADO MIXTO TECNOLOGICO EN INFORMATICA
42                                                ICA
43                                COLEGIO LA LIBERTAD
44              INSTITUTO MIXTO PRIVADO SANTO DOMINGO
45                         ISEA LA ESCUELA EN SU CASA
46                                COLEGIO LA LIBERTAD
47         INSTITUTO MIXTO PRIVADO SALUD Y DESARROLLO
48  PROGRAMA NACIONAL DE EDUCACION ALTERNATIVA PRONEA
49                            OXFORD BILINGUAL SCHOOL

In [146]:
# Revisar cambios
dataFrame['ESTABLECIMIENTO'].value_counts().head(50)

ESTABLECIMIENTO
INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA                             426
CENTRO DE EDUCACION EXTRAESCOLAR CEEX                                      49
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA DE ENSENANZA          46
INSTITUTO DE COMPUTACION INFORMATICA                                       27
INSTITUTO DIVERSIFICADO POR COOPERATIVA                                    23
LICEO SAN JOSE                                                             22
ESCUELA NORMAL DE EDUCACION FISICA                                         21
INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONICA (IGER)                     20
ASOCIACION DE MAESTROS DE EDUCACION RURAL DE GUATEMALA AMERG               20
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA                       17
COLEGIO PARTICULAR MIXTO SAGRADO CORAZON                                   16
INSTITUTO DIVERSIFICADO POR COOPERATIVA DE ENSENANZA                       15
ESCUELA NACIONAL DE CIENCIAS COMERCIALES                                   14
INSTITUTO TECNICO DE CAPACITACION Y PRODUCTIVIDAD INTECAP                  14
PROGRAMA NACIONAL DE EDUCACION ALTERNATIVA PRONEA                          14
LICEO CANADIENSE SOCIEDAD ANONIMA                                          13
INSTITUTO TECNICO INDUSTRIAL HENRY FORD                                    12
INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA INED                         12
INSTITUTO TECNOLOGIA Y CIENCIA                                             12
COLEGIO PRIVADO MIXTO AMERICANO                                            12
INSTITUTO AMERICANO EN CIENCIAS DE COMPUTACION                             12
INSTITUTO MIXTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA                 12
LICEO TECNICO VOCACIONAL GALILEI                                           11
INSTITUTO MUNICIPAL DE EDUCACION DIVERSIFICADA                             11
INSTITUTO PRIVADO MIXTO DE COMPUTACION INFORMATICA                         11
INSTITUTO EVANGELICO AMERICA LATINA                                        11
ESCUELA NORMAL INTERCULTURAL                                               11
CENTRO DE EDUCACION EXTRAESCOLAR CEEX DEPARTAMENTAL                        11
INSTITUTO TECNOLOGICO EMPRESARIAL                                          10
COLEGIO MIXTO COTZUMALGUAPA                                                10
INSTITUTO GUILLERMO PUTZEYS ALVAREZ                                        10
LICEO DE COMPUTACION SIGLO 21                                              10
CENTRO EDUCATIVO JOSE MILLA Y VIDAURRE                                      9
LICEO CRISTIANO BETH SHALOM                                                 9
COLEGIO PARTICULAR MIXTO SANTA MARIA                                        9
LICEO TECNICO INDUSTRIAL MAYA TIKAL                                         9
LICEO MIXTO SAN JOSE                                                        9
INSTITUTO MIXTO DE EDUCACION BILINGUE INTERCULTURAL IMEBI                   9
INSTITUTO PRIVADO MIXTO MALACATECO                                          9
COLEGIO LATINOAMERICANO GOSPEL                                              9
COLEGIO PARTICULAR LICEO MINERVA                                            9
INSTITUTO TECNICO EMPRESARIAL                                               9
INSTITUTO PARTICULAR MIXTO DE MERCADOTECNIA Y PUBLICIDAD DE SURORIENTE      9
INSTITUTO TECNICO INDUSTRIAL ALBERT EINSTEIN                                9
LICEO DE COMPUTACION C.S.S.                                                 9
LICEO DE CIENCIA Y TECNOLOGIA                                               9
COLEGIO EVANGELICO MIXTO GETSEMANI                                          9
COLEGIO MIXTO CIENCIA Y ARTE                                                9
COLEGIO PRIVADO MIXTO BENDICION DEL SABER                                   9
LICEO TECNICO DE VILLA NUEVA                                                9
Name: count, dtype: int64

In [147]:
# Clasificaci√≥n de Establecimiento.

# Lista de palabras clave para la clasificaci√≥n
distribucion_establecimientos = ['COLEGIO', 'ESCUELA', 'INSTITUTO', 'LICEO', 'CENTRO']

def clasificar_establecimiento(nombre):
    nombre = nombre.upper()  # Convertir a may√∫sculas para evitar problemas de coincidencia de may√∫sculas/min√∫sculas
    if "COLEGIO" in nombre:
        return "COLEGIO"
    elif "ESCUELA" in nombre:
        return "ESCUELA"
    elif "INSTITUTO" in nombre:
        return "INSTITUTO"
    elif "LICEO" in nombre:
        return "LICEO"
    elif "CENTRO" in nombre:
        return "CENTRO EDUCATIVO"
    else:
        return "OTRO"

# Aplicar la clasificaci√≥n
dataFrame['CLASIFICACION_ESTABLECIMIENTO'] = dataFrame['ESTABLECIMIENTO'].apply(clasificar_establecimiento)

In [148]:
# Convertir a min√∫sculas las columnas 'ESTABLECIMIENTO' y 'CLASIFICACION_ESTABLECIMIENTO'
dataFrame['ESTABLECIMIENTO'] = dataFrame['ESTABLECIMIENTO'].str.lower()
dataFrame['CLASIFICACION_ESTABLECIMIENTO'] = dataFrame['CLASIFICACION_ESTABLECIMIENTO'].str.lower()
dataFrame['ESTABLECIMIENTO'] = dataFrame['ESTABLECIMIENTO'].apply(limpiar_texto)

In [149]:
# Mostrar todas las filas de la columna 'CLASIFICACION_ESTABLECIMIENTO'
dataFrame[['ESTABLECIMIENTO', 'CLASIFICACION_ESTABLECIMIENTO']]

,ESTABLECIMIENTO,CLASIFICACION_ESTABLECIMIENTO
0,colegio coban,colegio
1,colegio particular mixto verapaz,colegio
2,colegio la inmaculada,colegio
3,escuela nacional de ciencias comerciales,escuela
4,instituto normal mixto del norte emilio rosale...,instituto
...,...,...
9325,liceo particular mixto jireh,liceo
9326,liceo particular mixto jireh,liceo
9327,instituto diversificado,instituto
9328,instituto mixto de educacion diversificada por...,instituto
9329,instituto mixto de educacion diversificada por...,instituto

In [150]:
# Reordenar las columnas para que 'CLASIFICACION_ESTABLECIMIENTO' est√© junto a 'ESTABLECIMIENTO'
columnas = list(dataFrame.columns)
columnas.insert(columnas.index('ESTABLECIMIENTO') + 1, columnas.pop(columnas.index('CLASIFICACION_ESTABLECIMIENTO')))
dataFrame = dataFrame[columnas]

Direcci√≥n.

In [151]:
# Reemplazar valores nulos en la columna 'DIRECCION' con "Sin direcci√≥n"
dataFrame['DIRECCION'] = dataFrame['DIRECCION'].fillna('Sin direcci√≥n')

dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9330 entries, 0 to 9329
Data columns (total 72 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   CODIGO                               9330 non-null   object
 1   ESTABLECIMIENTO                      9330 non-null   object
 2   CLASIFICACION_ESTABLECIMIENTO        9330 non-null   object
 3   DIRECCION                            9330 non-null   object
 4   TELEFONO                             8791 non-null   object
 5   SUPERVISOR                           9121 non-null   object
 6   DIRECTOR                             8433 non-null   object
 7   NIVEL                                9330 non-null   object
 8   SECTOR                               9330 non-null   object
 9   AREA                                 9330 non-null   object
 10  STATUS                               9330 non-null   object
 11  MODALIDAD                            9330 non-null   object
 12  JORNADA                              9330 non-null   object
 13  PLAN                                 9330 non-null   object
 14  DEPARTAMENTAL                        9330 non-null   object
 15  DISTRITO_01-403                      9330 non-null   bool
 16  DISTRITO_01-411                      9330 non-null   bool
 17  DISTRITO_01-641                      9330 non-null   bool
 18  DISTRITO_03-002                      9330 non-null   bool
 19  DISTRITO_05-007                      9330 non-null   bool
 20  DISTRITO_05-033                      9330 non-null   bool
 21  DISTRITO_10-019                      9330 non-null   bool
 22  DISTRITO_11-017                      9330 non-null   bool
 23  DISTRITO_13-004                      9330 non-null   bool
 24  DISTRITO_18-008                      9330 non-null   bool
 25  DISTRITO_18-039                      9330 non-null   bool
 26  DISTRITO_OTROS                       9330 non-null   bool
 27  DEPARTAMENTO_ALTA VERAPAZ            9330 non-null   bool
 28  DEPARTAMENTO_BAJA VERAPAZ            9330 non-null   bool
 29  DEPARTAMENTO_CHIMALTENANGO           9330 non-null   bool
 30  DEPARTAMENTO_CHIQUIMULA              9330 non-null   bool
 31  DEPARTAMENTO_CIUDAD CAPITAL          9330 non-null   bool
 32  DEPARTAMENTO_EL PROGRESO             9330 non-null   bool
 33  DEPARTAMENTO_ESCUINTLA               9330 non-null   bool
 34  DEPARTAMENTO_GUATEMALA               9330 non-null   bool
 35  DEPARTAMENTO_HUEHUETENANGO           9330 non-null   bool
 36  DEPARTAMENTO_IZABAL                  9330 non-null   bool
 37  DEPARTAMENTO_JALAPA                  9330 non-null   bool
 38  DEPARTAMENTO_JUTIAPA                 9330 non-null   bool
 39  DEPARTAMENTO_OTROS                   9330 non-null   bool
 40  DEPARTAMENTO_PETEN                   9330 non-null   bool
 41  DEPARTAMENTO_QUETZALTENANGO          9330 non-null   bool
 42  DEPARTAMENTO_QUICHE                  9330 non-null   bool
 43  DEPARTAMENTO_RETALHULEU              9330 non-null   bool
 44  DEPARTAMENTO_SACATEPEQUEZ            9330 non-null   bool
 45  DEPARTAMENTO_SAN MARCOS              9330 non-null   bool
 46  DEPARTAMENTO_SANTA ROSA              9330 non-null   bool
 47  DEPARTAMENTO_SOLOLA                  9330 non-null   bool
 48  DEPARTAMENTO_SUCHITEPEQUEZ           9330 non-null   bool
 49  DEPARTAMENTO_ZACAPA                  9330 non-null   bool
 50  MUNICIPIO_AMATITLAN                  9330 non-null   bool
 51  MUNICIPIO_ANTIGUA GUATEMALA          9330 non-null   bool
 52  MUNICIPIO_CHIMALTENANGO              9330 non-null   bool
 53  MUNICIPIO_COBAN                      9330 non-null   bool
 54  MUNICIPIO_ESCUINTLA                  9330 non-null   bool
 55  MUNICIPIO_HUEHUETENANGO              9330 non-null   bool
 56  MUNICIPIO_JUTIAPA                    9330 non-null   bool
 57  MUNICIPIO_MAZATENANGO                9330 non-null   bool
 58  MUNICIPIO_MIXCO                      9330 non-null   bool
 59  MUNICIPIO_MORALES                    9330 non-null   bool
 60  MUNICIPIO_OTROS                      9330 non-null   bool
 61  MUNICIPIO_PUERTO BARRIOS             9330 non-null   bool
 62  MUNICIPIO_QUETZALTENANGO             9330 non-null   bool
 63  MUNICIPIO_RETALHULEU                 9330 non-null   bool
 64  MUNICIPIO_SAN JUAN SACATEPEQUEZ      9330 non-null   bool
 65  MUNICIPIO_SAN MIGUEL PETAPA          9330 non-null   bool
 66  MUNICIPIO_SANTA LUCIA COTZUMALGUAPA  9330 non-null   bool
 67  MUNICIPIO_VILLA NUEVA                9330 non-null   bool
 68  MUNICIPIO_ZONA 1                     9330 non-null   bool
 69  MUNICIPIO_ZONA 12                    9330 non-null   bool
 70  MUNICIPIO_ZONA 18                    9330 non-null   bool
 71  MUNICIPIO_ZONA 7                     9330 non-null   bool
dtypes: bool(57), object(15)
memory usage: 1.6+ MB

In [152]:
dataFrame['DIRECCION'] = dataFrame['DIRECCION'].str.replace('[^A-Za-z0-9 ]+', '')  # Eliminar caracteres especiales

# Reemplazar m√∫ltiples espacios por un solo espacio
dataFrame['DIRECCION'] = dataFrame['DIRECCION'].str.replace(r'\s+', ' ', regex=True)

In [153]:
# Funci√≥n para eliminar comillas y tildes
def limpiar_texto_direccion(texto):
    # Eliminar comillas simples y dobles
    texto = texto.replace("'", "").replace('"', "")
    
    # Sustituir letras con tilde por letras sin tilde
    texto = unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('ASCII')

    # Eliminar comillas alrededor del texto
    if texto.startswith('"') and texto.endswith('"'):
        texto = texto[1:-1]
    
    return texto

# Aplicar la funci√≥n a la columna 'ESTABLECIMIENTO'
dataFrame['DIRECCION'] = dataFrame['DIRECCION'].apply(limpiar_texto_direccion)

# Verificar los cambios
dataFrame[['DIRECCION']].head(50)

                                           DIRECCION
0             KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8
1                       KM 209.5 ENTRADA A LA CIUDAD
2                          7A. AVENIDA 11-109 ZONA 6
3                              2A CALLE 11-10 ZONA 2
4                                3A AVE 6-23 ZONA 11
5                               5A. CALLE 1-9 ZONA 3
6                                  3 AV. 5-28 ZONA 4
7                       7A. CALLE 11-09 ZONA 6 COBAN
8                           3A. AVAENIDA 1-23 ZONA 4
9                             11 AVENIDA 5-17 ZONA 4
10  DIAGONAL 08 8-05 ZONA 8, BARRIO CANTON LAS CASAS
11                                12 AV. 2-12 ZONA 1
12                           FINCA CHIMAXITO ZONA 11
13                            5TA. CALLE 2-23 ZONA 4
14                            5TA. CALLE 2-23 ZONA 4
15                          3RA. AVENIDA 5-12 ZONA 4
16                             3A. AVE. 6-23 ZONA 11
17                             3A. AVE. 6-23 ZONA 11
18                                 ALDEA LAS CONCHAS
19                           DIAGNONAL 1 1-26 ZONA 1
20                             5A. CALLE 1-06 ZONA 3
21                             7A. CALLE 1-13 ZONA 3
22                             7A. CALLE 1-13 ZONA 3
23                           4A. CALLE A 4-32 ZONA 8
24                            2A. CALLE 11-10 ZONA 2
25                            3A. CALLE 3-74, ZONA 3
26                            5A. CALLE 1-06, ZONA 3
27                         LOTIFICACION CHIVENCORRAL
28    1A CALLE 17-41 COMUNIDAD PETET CHIXIC, ZONA 12
29                        CALZADA RABIN AJAU, ZONA 1
30                             1A. CALLE 7-22 ZONA 3
31                                    ALDEA SALACUIM
32                             1A. CALLE 7-22 ZONA 3
33                                      ALDEA CHOVAL
34                           DIAGNONAL 1 1-26 ZONA 1
35       6A. AV. 10-68 ZONA 12 COLONIA EL ESFUERZO I
36                                  ALDEA NIMLAJACOC
37                          5TA. AVENIDA 2-23 ZONA 4
38                            12 AVENIDA 2-12 ZONA 1
39                            12 AVENIDA 2-12 ZONA 1
40                             5A CALLE 1-98, ZONA 3
41                            2A. CALLE 12-23 ZONA 4
42                             11AVENIDA 1-10 ZONA 1
43               3A. AVENIDA CINCO GUION DOCE (5-12)
44                           2A. CALLE 11-10, ZONA 2
45                               1A. AV. 4-24 ZONA 2
46                               3A. AV. 5-12 ZONA 4
47                           DIAGNONAL 1 1-26 ZONA 1
48                             7A. AV. 2-18 D ZONA 1
49                           2DA. CALLE 16-94 ZONA 4

In [154]:
# Pasar datos de direcci√≥n a min√∫sculas.
dataFrame['DIRECCION'] = dataFrame['DIRECCION'].str.lower()

Tel√©fono.

In [155]:
# Verificar que todos los valores sean de tipo string
print(dataFrame['TELEFONO'].dtype)  # Deber√≠a mostrar 'object', que en pandas representa cadenas de texto

object

In [156]:
# Convertir valores de float a int en la columna 'TELEFONO', ignorando los valores que no puedan ser convertidos (como NaN)
dataFrame['TELEFONO'] = dataFrame['TELEFONO'].apply(lambda x: int(x) if isinstance(x, float) and not pd.isnull(x) else x)

In [157]:
# Convertir todos los valores de la columna 'TELEFONO' a tipo str
dataFrame['TELEFONO'] = dataFrame['TELEFONO'].astype(str)

In [158]:
#Renombrar la columna 'TELEFONO' a 'TELEFONO_1'
dataFrame = dataFrame.rename(columns={'TELEFONO': 'TELEFONO_1'})

In [159]:
# Separar n√∫meros telef√≥nicos que est√°n combinados en una sola celda en 'TELEFONO_1'
dataFrame['TELEFONO_2'] = dataFrame['TELEFONO_1'].apply(lambda x: x.split('-')[1] if '-' in x else None)
dataFrame['TELEFONO_1'] = dataFrame['TELEFONO_1'].apply(lambda x: x.split('-')[0] if '-' in x else x)

dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9330 entries, 0 to 9329
Data columns (total 73 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   CODIGO                               9330 non-null   object
 1   ESTABLECIMIENTO                      9330 non-null   object
 2   CLASIFICACION_ESTABLECIMIENTO        9330 non-null   object
 3   DIRECCION                            9330 non-null   object
 4   TELEFONO_1                           9330 non-null   object
 5   SUPERVISOR                           9121 non-null   object
 6   DIRECTOR                             8433 non-null   object
 7   NIVEL                                9330 non-null   object
 8   SECTOR                               9330 non-null   object
 9   AREA                                 9330 non-null   object
 10  STATUS                               9330 non-null   object
 11  MODALIDAD                            9330 non-null   object
 12  JORNADA                              9330 non-null   object
 13  PLAN                                 9330 non-null   object
 14  DEPARTAMENTAL                        9330 non-null   object
 15  DISTRITO_01-403                      9330 non-null   bool
 16  DISTRITO_01-411                      9330 non-null   bool
 17  DISTRITO_01-641                      9330 non-null   bool
 18  DISTRITO_03-002                      9330 non-null   bool
 19  DISTRITO_05-007                      9330 non-null   bool
 20  DISTRITO_05-033                      9330 non-null   bool
 21  DISTRITO_10-019                      9330 non-null   bool
 22  DISTRITO_11-017                      9330 non-null   bool
 23  DISTRITO_13-004                      9330 non-null   bool
 24  DISTRITO_18-008                      9330 non-null   bool
 25  DISTRITO_18-039                      9330 non-null   bool
 26  DISTRITO_OTROS                       9330 non-null   bool
 27  DEPARTAMENTO_ALTA VERAPAZ            9330 non-null   bool
 28  DEPARTAMENTO_BAJA VERAPAZ            9330 non-null   bool
 29  DEPARTAMENTO_CHIMALTENANGO           9330 non-null   bool
 30  DEPARTAMENTO_CHIQUIMULA              9330 non-null   bool
 31  DEPARTAMENTO_CIUDAD CAPITAL          9330 non-null   bool
 32  DEPARTAMENTO_EL PROGRESO             9330 non-null   bool
 33  DEPARTAMENTO_ESCUINTLA               9330 non-null   bool
 34  DEPARTAMENTO_GUATEMALA               9330 non-null   bool
 35  DEPARTAMENTO_HUEHUETENANGO           9330 non-null   bool
 36  DEPARTAMENTO_IZABAL                  9330 non-null   bool
 37  DEPARTAMENTO_JALAPA                  9330 non-null   bool
 38  DEPARTAMENTO_JUTIAPA                 9330 non-null   bool
 39  DEPARTAMENTO_OTROS                   9330 non-null   bool
 40  DEPARTAMENTO_PETEN                   9330 non-null   bool
 41  DEPARTAMENTO_QUETZALTENANGO          9330 non-null   bool
 42  DEPARTAMENTO_QUICHE                  9330 non-null   bool
 43  DEPARTAMENTO_RETALHULEU              9330 non-null   bool
 44  DEPARTAMENTO_SACATEPEQUEZ            9330 non-null   bool
 45  DEPARTAMENTO_SAN MARCOS              9330 non-null   bool
 46  DEPARTAMENTO_SANTA ROSA              9330 non-null   bool
 47  DEPARTAMENTO_SOLOLA                  9330 non-null   bool
 48  DEPARTAMENTO_SUCHITEPEQUEZ           9330 non-null   bool
 49  DEPARTAMENTO_ZACAPA                  9330 non-null   bool
 50  MUNICIPIO_AMATITLAN                  9330 non-null   bool
 51  MUNICIPIO_ANTIGUA GUATEMALA          9330 non-null   bool
 52  MUNICIPIO_CHIMALTENANGO              9330 non-null   bool
 53  MUNICIPIO_COBAN                      9330 non-null   bool
 54  MUNICIPIO_ESCUINTLA                  9330 non-null   bool
 55  MUNICIPIO_HUEHUETENANGO              9330 non-null   bool
 56  MUNICIPIO_JUTIAPA                    9330 non-null   bool
 57  MUNICIPIO_MAZATENANGO                9330 non-null   bool
 58  MUNICIPIO_MIXCO                      9330 non-null   bool
 59  MUNICIPIO_MORALES                    9330 non-null   bool
 60  MUNICIPIO_OTROS                      9330 non-null   bool
 61  MUNICIPIO_PUERTO BARRIOS             9330 non-null   bool
 62  MUNICIPIO_QUETZALTENANGO             9330 non-null   bool
 63  MUNICIPIO_RETALHULEU                 9330 non-null   bool
 64  MUNICIPIO_SAN JUAN SACATEPEQUEZ      9330 non-null   bool
 65  MUNICIPIO_SAN MIGUEL PETAPA          9330 non-null   bool
 66  MUNICIPIO_SANTA LUCIA COTZUMALGUAPA  9330 non-null   bool
 67  MUNICIPIO_VILLA NUEVA                9330 non-null   bool
 68  MUNICIPIO_ZONA 1                     9330 non-null   bool
 69  MUNICIPIO_ZONA 12                    9330 non-null   bool
 70  MUNICIPIO_ZONA 18                    9330 non-null   bool
 71  MUNICIPIO_ZONA 7                     9330 non-null   bool
 72  TELEFONO_2                           116 non-null    object
dtypes: bool(57), object(16)
memory usage: 1.6+ MB

In [160]:
# Reordenar las columnas para que 'TELEFONO_2' est√© junto a 'TELEFONO_1'
columnas = list(dataFrame.columns)
columnas.insert(columnas.index('TELEFONO_1') + 1, columnas.pop(columnas.index('TELEFONO_2')))
dataFrame = dataFrame[columnas]

# Verificar el nuevo orden de las columnas
#dataFrame.head(10)

In [161]:
# Reemplazar valores nulos o "nan" en 'TELEFONO_1' y 'TELEFONO_2' con "Sin tel√©fono"
dataFrame['TELEFONO_1'] = dataFrame['TELEFONO_1'].fillna('sin telefono').replace('nan', 'sin telefono')
dataFrame['TELEFONO_2'] = dataFrame['TELEFONO_2'].fillna('sin telefono').replace('nan', 'sin telefono')

# Verificar los cambios
dataFrame[['TELEFONO_1', 'TELEFONO_2']].head(10)

     TELEFONO_1    TELEFONO_2
0      77945104  sin telefono
1      77367402  sin telefono
2      78232301  sin telefono
3      79514215  sin telefono
4      79521468  sin telefono
5      57101061  sin telefono
6      54641454  sin telefono
7      49532425  sin telefono
8  sin telefono  sin telefono
9      79522555  sin telefono

In [162]:
# Eliminar el punto y todo lo que est√© a la derecha en 'TELEFONO_1' y 'TELEFONO_2'
dataFrame['TELEFONO_1'] = dataFrame['TELEFONO_1'].apply(lambda x: x.split('.')[0] if '.' in x else x)
dataFrame['TELEFONO_2'] = dataFrame['TELEFONO_2'].apply(lambda x: x.split('.')[0] if '.' in x else x)

# Verificar los cambios
dataFrame[['TELEFONO_1', 'TELEFONO_2']].tail(10)

     TELEFONO_1    TELEFONO_2
9320   47050196  sin telefono
9321   40622686  sin telefono
9322   46390005  sin telefono
9323   79418369  sin telefono
9324   79418369  sin telefono
9325   79418369  sin telefono
9326   79418369  sin telefono
9327   47097386  sin telefono
9328   55958103  sin telefono
9329   41447589  sin telefono

Supervisor.

In [163]:
# Reemplazar valores nulos en la columna 'DIRECCION' con "Sin direcci√≥n"
dataFrame['SUPERVISOR'] = dataFrame['SUPERVISOR'].fillna('sin supervisor')

dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9330 entries, 0 to 9329
Data columns (total 73 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   CODIGO                               9330 non-null   object
 1   ESTABLECIMIENTO                      9330 non-null   object
 2   CLASIFICACION_ESTABLECIMIENTO        9330 non-null   object
 3   DIRECCION                            9330 non-null   object
 4   TELEFONO_1                           9330 non-null   object
 5   TELEFONO_2                           9330 non-null   object
 6   SUPERVISOR                           9330 non-null   object
 7   DIRECTOR                             8433 non-null   object
 8   NIVEL                                9330 non-null   object
 9   SECTOR                               9330 non-null   object
 10  AREA                                 9330 non-null   object
 11  STATUS                               9330 non-null   object
 12  MODALIDAD                            9330 non-null   object
 13  JORNADA                              9330 non-null   object
 14  PLAN                                 9330 non-null   object
 15  DEPARTAMENTAL                        9330 non-null   object
 16  DISTRITO_01-403                      9330 non-null   bool
 17  DISTRITO_01-411                      9330 non-null   bool
 18  DISTRITO_01-641                      9330 non-null   bool
 19  DISTRITO_03-002                      9330 non-null   bool
 20  DISTRITO_05-007                      9330 non-null   bool
 21  DISTRITO_05-033                      9330 non-null   bool
 22  DISTRITO_10-019                      9330 non-null   bool
 23  DISTRITO_11-017                      9330 non-null   bool
 24  DISTRITO_13-004                      9330 non-null   bool
 25  DISTRITO_18-008                      9330 non-null   bool
 26  DISTRITO_18-039                      9330 non-null   bool
 27  DISTRITO_OTROS                       9330 non-null   bool
 28  DEPARTAMENTO_ALTA VERAPAZ            9330 non-null   bool
 29  DEPARTAMENTO_BAJA VERAPAZ            9330 non-null   bool
 30  DEPARTAMENTO_CHIMALTENANGO           9330 non-null   bool
 31  DEPARTAMENTO_CHIQUIMULA              9330 non-null   bool
 32  DEPARTAMENTO_CIUDAD CAPITAL          9330 non-null   bool
 33  DEPARTAMENTO_EL PROGRESO             9330 non-null   bool
 34  DEPARTAMENTO_ESCUINTLA               9330 non-null   bool
 35  DEPARTAMENTO_GUATEMALA               9330 non-null   bool
 36  DEPARTAMENTO_HUEHUETENANGO           9330 non-null   bool
 37  DEPARTAMENTO_IZABAL                  9330 non-null   bool
 38  DEPARTAMENTO_JALAPA                  9330 non-null   bool
 39  DEPARTAMENTO_JUTIAPA                 9330 non-null   bool
 40  DEPARTAMENTO_OTROS                   9330 non-null   bool
 41  DEPARTAMENTO_PETEN                   9330 non-null   bool
 42  DEPARTAMENTO_QUETZALTENANGO          9330 non-null   bool
 43  DEPARTAMENTO_QUICHE                  9330 non-null   bool
 44  DEPARTAMENTO_RETALHULEU              9330 non-null   bool
 45  DEPARTAMENTO_SACATEPEQUEZ            9330 non-null   bool
 46  DEPARTAMENTO_SAN MARCOS              9330 non-null   bool
 47  DEPARTAMENTO_SANTA ROSA              9330 non-null   bool
 48  DEPARTAMENTO_SOLOLA                  9330 non-null   bool
 49  DEPARTAMENTO_SUCHITEPEQUEZ           9330 non-null   bool
 50  DEPARTAMENTO_ZACAPA                  9330 non-null   bool
 51  MUNICIPIO_AMATITLAN                  9330 non-null   bool
 52  MUNICIPIO_ANTIGUA GUATEMALA          9330 non-null   bool
 53  MUNICIPIO_CHIMALTENANGO              9330 non-null   bool
 54  MUNICIPIO_COBAN                      9330 non-null   bool
 55  MUNICIPIO_ESCUINTLA                  9330 non-null   bool
 56  MUNICIPIO_HUEHUETENANGO              9330 non-null   bool
 57  MUNICIPIO_JUTIAPA                    9330 non-null   bool
 58  MUNICIPIO_MAZATENANGO                9330 non-null   bool
 59  MUNICIPIO_MIXCO                      9330 non-null   bool
 60  MUNICIPIO_MORALES                    9330 non-null   bool
 61  MUNICIPIO_OTROS                      9330 non-null   bool
 62  MUNICIPIO_PUERTO BARRIOS             9330 non-null   bool
 63  MUNICIPIO_QUETZALTENANGO             9330 non-null   bool
 64  MUNICIPIO_RETALHULEU                 9330 non-null   bool
 65  MUNICIPIO_SAN JUAN SACATEPEQUEZ      9330 non-null   bool
 66  MUNICIPIO_SAN MIGUEL PETAPA          9330 non-null   bool
 67  MUNICIPIO_SANTA LUCIA COTZUMALGUAPA  9330 non-null   bool
 68  MUNICIPIO_VILLA NUEVA                9330 non-null   bool
 69  MUNICIPIO_ZONA 1                     9330 non-null   bool
 70  MUNICIPIO_ZONA 12                    9330 non-null   bool
 71  MUNICIPIO_ZONA 18                    9330 non-null   bool
 72  MUNICIPIO_ZONA 7                     9330 non-null   bool
dtypes: bool(57), object(16)
memory usage: 1.6+ MB

In [164]:
dataFrame['SUPERVISOR'] = dataFrame['SUPERVISOR'].str.replace('[^A-Za-z0-9 ]+', '')  # Eliminar caracteres especiales

# Reemplazar m√∫ltiples espacios por un solo espacio
dataFrame['SUPERVISOR'] = dataFrame['SUPERVISOR'].str.replace(r'\s+', ' ', regex=True)

In [165]:
# Funci√≥n para eliminar comillas y tildes
def limpiar_texto_supervisor(texto):
    # Eliminar comillas simples y dobles
    texto = texto.replace("'", "").replace('"', "")
    
    # Sustituir letras con tilde por letras sin tilde
    texto = unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('ASCII')

    # Eliminar comillas alrededor del texto
    if texto.startswith('"') and texto.endswith('"'):
        texto = texto[1:-1]
    
    return texto

# Aplicar la funci√≥n a la columna 'ESTABLECIMIENTO'
dataFrame['SUPERVISOR'] = dataFrame['SUPERVISOR'].apply(limpiar_texto_supervisor)

# Verificar los cambios
dataFrame[['SUPERVISOR']].head(50)

                         SUPERVISOR
0   MERCEDES JOSEFINA TORRES GALVEZ
1   MERCEDES JOSEFINA TORRES GALVEZ
2   MERCEDES JOSEFINA TORRES GALVEZ
3               RUDY ADOLFO TOT OCH
4               RUDY ADOLFO TOT OCH
5   MERCEDES JOSEFINA TORRES GALVEZ
6                   EFRAIN CAAL CUC
7   MERCEDES JOSEFINA TORRES GALVEZ
8                   EFRAIN CAAL CUC
9   MERCEDES JOSEFINA TORRES GALVEZ
10              RUDY ADOLFO TOT OCH
11  MERCEDES JOSEFINA TORRES GALVEZ
12  MERCEDES JOSEFINA TORRES GALVEZ
13  MERCEDES JOSEFINA TORRES GALVEZ
14  MERCEDES JOSEFINA TORRES GALVEZ
15  MERCEDES JOSEFINA TORRES GALVEZ
16              RUDY ADOLFO TOT OCH
17              RUDY ADOLFO TOT OCH
18  MERCEDES JOSEFINA TORRES GALVEZ
19  MERCEDES JOSEFINA TORRES GALVEZ
20  MERCEDES JOSEFINA TORRES GALVEZ
21  MERCEDES JOSEFINA TORRES GALVEZ
22  MERCEDES JOSEFINA TORRES GALVEZ
23  MERCEDES JOSEFINA TORRES GALVEZ
24              RUDY ADOLFO TOT OCH
25  MERCEDES JOSEFINA TORRES GALVEZ
26  MERCEDES JOSEFINA TORRES GALVEZ
27  MERCEDES JOSEFINA TORRES GALVEZ
28  MERCEDES JOSEFINA TORRES GALVEZ
29  MERCEDES JOSEFINA TORRES GALVEZ
30  MERCEDES JOSEFINA TORRES GALVEZ
31                ERNESTO CAAL CHOC
32  MERCEDES JOSEFINA TORRES GALVEZ
33              RUDY ADOLFO TOT OCH
34  MERCEDES JOSEFINA TORRES GALVEZ
35  MERCEDES JOSEFINA TORRES GALVEZ
36                ERNESTO CAAL CHOC
37  MERCEDES JOSEFINA TORRES GALVEZ
38  MERCEDES JOSEFINA TORRES GALVEZ
39  MERCEDES JOSEFINA TORRES GALVEZ
40  MERCEDES JOSEFINA TORRES GALVEZ
41  MERCEDES JOSEFINA TORRES GALVEZ
42  MERCEDES JOSEFINA TORRES GALVEZ
43  MERCEDES JOSEFINA TORRES GALVEZ
44  MERCEDES JOSEFINA TORRES GALVEZ
45  MERCEDES JOSEFINA TORRES GALVEZ
46  MERCEDES JOSEFINA TORRES GALVEZ
47  MERCEDES JOSEFINA TORRES GALVEZ
48            MAXIMILIANO CHUB ICAL
49  MERCEDES JOSEFINA TORRES GALVEZ

In [166]:
# Convertir valores de la columna 'SUPERVISOR' a primera letra may√∫scula en cada palabra
# excepto para los valores "sin supervisor"
dataFrame['SUPERVISOR'] = dataFrame['SUPERVISOR'].apply(
    lambda x: x.title() if x.lower() != 'sin supervisor' else x
)

# Verificar los cambios
dataFrame[['SUPERVISOR']].head(50)

                         SUPERVISOR
0   Mercedes Josefina Torres Galvez
1   Mercedes Josefina Torres Galvez
2   Mercedes Josefina Torres Galvez
3               Rudy Adolfo Tot Och
4               Rudy Adolfo Tot Och
5   Mercedes Josefina Torres Galvez
6                   Efrain Caal Cuc
7   Mercedes Josefina Torres Galvez
8                   Efrain Caal Cuc
9   Mercedes Josefina Torres Galvez
10              Rudy Adolfo Tot Och
11  Mercedes Josefina Torres Galvez
12  Mercedes Josefina Torres Galvez
13  Mercedes Josefina Torres Galvez
14  Mercedes Josefina Torres Galvez
15  Mercedes Josefina Torres Galvez
16              Rudy Adolfo Tot Och
17              Rudy Adolfo Tot Och
18  Mercedes Josefina Torres Galvez
19  Mercedes Josefina Torres Galvez
20  Mercedes Josefina Torres Galvez
21  Mercedes Josefina Torres Galvez
22  Mercedes Josefina Torres Galvez
23  Mercedes Josefina Torres Galvez
24              Rudy Adolfo Tot Och
25  Mercedes Josefina Torres Galvez
26  Mercedes Josefina Torres Galvez
27  Mercedes Josefina Torres Galvez
28  Mercedes Josefina Torres Galvez
29  Mercedes Josefina Torres Galvez
30  Mercedes Josefina Torres Galvez
31                Ernesto Caal Choc
32  Mercedes Josefina Torres Galvez
33              Rudy Adolfo Tot Och
34  Mercedes Josefina Torres Galvez
35  Mercedes Josefina Torres Galvez
36                Ernesto Caal Choc
37  Mercedes Josefina Torres Galvez
38  Mercedes Josefina Torres Galvez
39  Mercedes Josefina Torres Galvez
40  Mercedes Josefina Torres Galvez
41  Mercedes Josefina Torres Galvez
42  Mercedes Josefina Torres Galvez
43  Mercedes Josefina Torres Galvez
44  Mercedes Josefina Torres Galvez
45  Mercedes Josefina Torres Galvez
46  Mercedes Josefina Torres Galvez
47  Mercedes Josefina Torres Galvez
48            Maximiliano Chub Ical
49  Mercedes Josefina Torres Galvez

In [167]:
#dataFrame.to_csv('UnifiedData/UnifiedDataV1.csv', index=False)

In [168]:
dataFrame

,CODIGO,ESTABLECIMIENTO,CLASIFICACION_ESTABLECIMIENTO,DIRECCION,TELEFONO_1,TELEFONO_2,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,...,MUNICIPIO_QUETZALTENANGO,MUNICIPIO_RETALHULEU,MUNICIPIO_SAN JUAN SACATEPEQUEZ,MUNICIPIO_SAN MIGUEL PETAPA,MUNICIPIO_SANTA LUCIA COTZUMALGUAPA,MUNICIPIO_VILLA NUEVA,MUNICIPIO_ZONA 1,MUNICIPIO_ZONA 12,MUNICIPIO_ZONA 18,MUNICIPIO_ZONA 7
0,16-01-0138-46,colegio coban,colegio,km.2 salida a san juan chamelco zona 8,77945104,sin telefono,Mercedes Josefina Torres Galvez,GUSTAVO ADOLFO SIERRA POP,DIVERSIFICADO,PRIVADO,...,False,False,False,False,False,False,False,False,False,False
1,16-01-0139-46,colegio particular mixto verapaz,colegio,km 209.5 entrada a la ciudad,77367402,sin telefono,Mercedes Josefina Torres Galvez,GILMA DOLORES GUAY PAZ DE LEAL,DIVERSIFICADO,PRIVADO,...,False,False,False,False,False,False,False,False,False,False
2,16-01-0140-46,colegio la inmaculada,colegio,7a. avenida 11-109 zona 6,78232301,sin telefono,Mercedes Josefina Torres Galvez,VIRGINIA SOLANO SERRANO,DIVERSIFICADO,PRIVADO,...,False,False,False,False,False,False,False,False,False,False
3,16-01-0141-46,escuela nacional de ciencias comerciales,escuela,2a calle 11-10 zona 2,79514215,sin telefono,Rudy Adolfo Tot Och,H√âCTOR ROLANDO CHUN POOU,DIVERSIFICADO,OFICIAL,...,False,False,False,False,False,False,False,False,False,False
4,16-01-0142-46,instituto normal mixto del norte emilio rosale...,instituto,3a ave 6-23 zona 11,79521468,sin telefono,Rudy Adolfo Tot Och,VICTOR HUGO DOM√çNGUEZ REYES,DIVERSIFICADO,OFICIAL,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9325,19-09-0040-46,liceo particular mixto jireh,liceo,barrio nuevo,79418369,sin telefono,Asbel Ivan Suchite Arroyo,ANA MAR√çA CUELLAR GUERRA,DIVERSIFICADO,PRIVADO,...,False,False,False,False,False,False,False,False,False,False
9326,19-09-0048-46,liceo particular mixto jireh,liceo,barrio nuevo,79418369,sin telefono,Asbel Ivan Suchite Arroyo,ANA MAR√çA CUELLAR GUERRA,DIVERSIFICADO,PRIVADO,...,False,False,False,False,False,False,False,False,False,False
9327,19-10-0013-46,instituto diversificado,instituto,barrio buenos aires,47097386,sin telefono,Sildy Mariela Perez Franco,MARLON JOSU√â ARCHILA LORENZO,DIVERSIFICADO,OFICIAL,...,False,False,False,False,False,False,False,False,False,False
9328,19-10-1009-46,instituto mixto de educacion diversificada por...,instituto,barrio el campo,55958103,sin telefono,Sildy Mariela Perez Franco,ROBIDIO PORTILLO SALGUERO,DIVERSIFICADO,COOPERATIVA,...,False,False,False,False,False,False,False,False,False,False
9329,19-11-0018-46,instituto mixto de educacion diversificada por...,instituto,barrio el centro,41447589,sin telefono,Alba Luz Mendez,VICTOR HUGO GUERRA MONROY,DIVERSIFICADO,COOPERATIVA,...,False,False,False,False,False,False,False,False,False,False

### Limpieza de Director, Nivel, Sector y √Årea (Linda Jim√©nez)

In [205]:
df = pd.read_csv('UnifiedData/UnifiedDataV2.csv')
df

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,CLASIFICACION_ESTABLECIMIENTO,DIRECCION,TELEFONO_1,TELEFONO_2,SUPERVISOR,...,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL,STATUS_num,MODALIDAD_num,JORNADA_num,PLAN_num,DEPARTAMENTAL_num
0,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,colegio coban,colegio,km.2 salida a san juan chamelco zona 8,77945104,sin telefono,Mercedes Josefina Torres Galvez,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ,0,1,1,1,0
1,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,colegio particular mixto verapaz,colegio,km 209.5 entrada a la ciudad,77367402,sin telefono,Mercedes Josefina Torres Galvez,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ,0,1,1,1,0
2,16-01-0140-46,16-031,ALTA VERAPAZ,COBAN,colegio la inmaculada,colegio,7a. avenida 11-109 zona 6,78232301,sin telefono,Mercedes Josefina Torres Galvez,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ,0,1,1,1,0
3,16-01-0141-46,16-005,ALTA VERAPAZ,COBAN,escuela nacional de ciencias comerciales,escuela,2a calle 11-10 zona 2,79514215,sin telefono,Rudy Adolfo Tot Och,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ,0,1,1,1,0
4,16-01-0142-46,16-005,ALTA VERAPAZ,COBAN,instituto normal mixto del norte emilio rosale...,instituto,3a ave 6-23 zona 11,79521468,sin telefono,Rudy Adolfo Tot Och,...,ABIERTA,BILINGUE,VESPERTINA,DIARIO(REGULAR),ALTA VERAPAZ,0,0,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9325,19-09-0040-46,19-021,ZACAPA,LA UNION,liceo particular mixto jireh,liceo,barrio nuevo,79418369,sin telefono,Asbel Ivan Suchite Arroyo,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ZACAPA,0,1,1,1,25
9326,19-09-0048-46,19-021,ZACAPA,LA UNION,liceo particular mixto jireh,liceo,barrio nuevo,79418369,sin telefono,Asbel Ivan Suchite Arroyo,...,ABIERTA,MONOLINGUE,SIN JORNADA,SEMIPRESENCIAL,ZACAPA,0,1,3,3,25
9327,19-10-0013-46,19-015,ZACAPA,HUITE,instituto diversificado,instituto,barrio buenos aires,47097386,sin telefono,Sildy Mariela Perez Franco,...,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),ZACAPA,0,1,2,1,25
9328,19-10-1009-46,19-015,ZACAPA,HUITE,instituto mixto de educacion diversificada por...,instituto,barrio el campo,55958103,sin telefono,Sildy Mariela Perez Franco,...,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),ZACAPA,0,1,4,1,25
9329,19-11-0018-46,19-020,ZACAPA,SAN JORGE,instituto mixto de educacion diversificada por...,instituto,barrio el centro,41447589,sin telefono,Alba Luz Mendez,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ZACAPA,0,1,1,1,25

In [212]:
import re 

# Funci√≥n para limpiar las cadenas
def limpiar_director(valor):
    if isinstance(valor, str):
        # Reemplazar valores espec√≠ficos como 'SIN DATO' y cadenas vac√≠as
        if valor in ['SIN DATO', '']:
            return 'DESCONOCIDO'
        # Eliminar cualquier guion si hay letras en la cadena
        if re.search(r'[a-zA-Z]', valor):
            return re.sub(r'-+', '', valor)  # Eliminar solo guiones
        else:
            return 'DESCONOCIDO'  # Reemplazar valores que solo contienen guiones
    return valor

# Aplicar la funci√≥n al DataFrame
df['DIRECTOR'] = df['DIRECTOR'].apply(limpiar_director)

# Reemplazar NaN con 'DESCONOCIDO' (si es necesario)
df['DIRECTOR'] = df['DIRECTOR'].fillna('DESCONOCIDO')

# Imprimir el DataFrame final
df

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,CLASIFICACION_ESTABLECIMIENTO,DIRECCION,TELEFONO_1,TELEFONO_2,SUPERVISOR,...,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL,STATUS_num,MODALIDAD_num,JORNADA_num,PLAN_num,DEPARTAMENTAL_num
0,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,colegio coban,colegio,km.2 salida a san juan chamelco zona 8,77945104,sin telefono,Mercedes Josefina Torres Galvez,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ,0,1,1,1,0
1,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,colegio particular mixto verapaz,colegio,km 209.5 entrada a la ciudad,77367402,sin telefono,Mercedes Josefina Torres Galvez,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ,0,1,1,1,0
2,16-01-0140-46,16-031,ALTA VERAPAZ,COBAN,colegio la inmaculada,colegio,7a. avenida 11-109 zona 6,78232301,sin telefono,Mercedes Josefina Torres Galvez,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ,0,1,1,1,0
3,16-01-0141-46,16-005,ALTA VERAPAZ,COBAN,escuela nacional de ciencias comerciales,escuela,2a calle 11-10 zona 2,79514215,sin telefono,Rudy Adolfo Tot Och,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ,0,1,1,1,0
4,16-01-0142-46,16-005,ALTA VERAPAZ,COBAN,instituto normal mixto del norte emilio rosale...,instituto,3a ave 6-23 zona 11,79521468,sin telefono,Rudy Adolfo Tot Och,...,ABIERTA,BILINGUE,VESPERTINA,DIARIO(REGULAR),ALTA VERAPAZ,0,0,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9325,19-09-0040-46,19-021,ZACAPA,LA UNION,liceo particular mixto jireh,liceo,barrio nuevo,79418369,sin telefono,Asbel Ivan Suchite Arroyo,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ZACAPA,0,1,1,1,25
9326,19-09-0048-46,19-021,ZACAPA,LA UNION,liceo particular mixto jireh,liceo,barrio nuevo,79418369,sin telefono,Asbel Ivan Suchite Arroyo,...,ABIERTA,MONOLINGUE,SIN JORNADA,SEMIPRESENCIAL,ZACAPA,0,1,3,3,25
9327,19-10-0013-46,19-015,ZACAPA,HUITE,instituto diversificado,instituto,barrio buenos aires,47097386,sin telefono,Sildy Mariela Perez Franco,...,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),ZACAPA,0,1,2,1,25
9328,19-10-1009-46,19-015,ZACAPA,HUITE,instituto mixto de educacion diversificada por...,instituto,barrio el campo,55958103,sin telefono,Sildy Mariela Perez Franco,...,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),ZACAPA,0,1,4,1,25
9329,19-11-0018-46,19-020,ZACAPA,SAN JORGE,instituto mixto de educacion diversificada por...,instituto,barrio el centro,41447589,sin telefono,Alba Luz Mendez,...,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ZACAPA,0,1,1,1,25

In [207]:
filtro = df[df['AREA'] == 'SIN ESPECIFICAR']
valores_a_reemplazar = "SIN ESPECIFICAR"
df['AREA'] = df['AREA'].replace(valores_a_reemplazar, 'URBANA')

# Si quieres asegurarte de que se reemplacen solo filas donde el contenido es exactamente igual a estos valores
df['AREA'] = df['AREA'].apply(lambda x: 'SIN ESPECIFICAR' if x in valores_a_reemplazar else x)

In [208]:
# Listado de las variables de inter√©s
variables_interes = ['DIRECTOR', 'NIVEL', 'SECTOR', 'AREA']

# Funci√≥n para realizar limpieza b√°sica en columnas
def limpieza_basica(df, columnas):
    for columna in columnas:
        print(f"--- An√°lisis de la columna: {columna} ---")
        
        # Revisi√≥n de valores nulos
        nulos = df[columna].isnull().sum()
        print(f"üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en '{columna}': {nulos}")

        # Estad√≠sticas generales
        print(f"üî¢ Valores √∫nicos en '{columna}': {df[columna].nunique()}")
        print(f"üîç Primeros 5 valores en '{columna}': {df[columna].unique()[:5]}")
        
        # Detecci√≥n de inconsistencias (espacios adicionales, capitalizaci√≥n)
        valores_limpios = df[columna].str.strip().str.upper().dropna().unique()
        print(f"üßπ Valores √∫nicos despu√©s de limpieza en '{columna}': {valores_limpios}")

        # Distribuci√≥n de clases
        distribucion_clases = df[columna].value_counts()
        print(f"üìä Distribuci√≥n de clases en '{columna}':\n{distribucion_clases}")
        
        # Porcentaje de cada clase
        porcentaje_clases = distribucion_clases / len(df) * 100
        print(f"üìà Porcentaje de cada clase en '{columna}':\n{porcentaje_clases}")
        
        print("\n" + "="*50 + "\n")

# Ejecutar la funci√≥n para las variables de inter√©s
limpieza_basica(df, variables_interes)

--- An√°lisis de la columna: DIRECTOR ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'DIRECTOR': 0
üî¢ Valores √∫nicos en 'DIRECTOR': 4684
üîç Primeros 5 valores en 'DIRECTOR': ['GUSTAVO ADOLFO SIERRA POP' 'GILMA DOLORES GUAY PAZ DE LEAL'
 'VIRGINIA  SOLANO SERRANO' 'H√âCTOR ROLANDO CHUN POOU'
 'VICTOR HUGO DOM√çNGUEZ REYES']
üßπ Valores √∫nicos despu√©s de limpieza en 'DIRECTOR': ['GUSTAVO ADOLFO SIERRA POP' 'GILMA DOLORES GUAY PAZ DE LEAL'
 'VIRGINIA  SOLANO SERRANO' ... 'ANA MAR√çA CUELLAR GUERRA'
 'MARLON JOSU√â ARCHILA LORENZO' 'ROBIDIO  PORTILLO SALGUERO']
üìä Distribuci√≥n de clases en 'DIRECTOR':
DIRECTOR
DESCONOCIDO                               1124
MAR√çA DOLORES P√âREZ TUCH√ÅN                  12
MARCO ANTONIO CASTA√ëEDA FLORES              11
MARIA DEL ROSARIO LOPEZ ESCOBAR DE PAZ      11
ZOILA ERNESTINA MORALES GODOY                9
                                          ...
LESBIA ELIZABETH L√ìPEZ M√âNDEZ                1
EDGAR EFRA√çN FAJARDO DE LA ROSA              1
AURA ELIZABETH MORALES MART√çNEZ              1
MIRIAM CONSUELO CASTA√ëEDA ORELLANA           1
ROSA MAR√çA ZAMORA GONZ√ÅLEZ                   1
Name: count, Length: 4684, dtype: int64
üìà Porcentaje de cada clase en 'DIRECTOR':
DIRECTOR
DESCONOCIDO                               12.047160
MAR√çA DOLORES P√âREZ TUCH√ÅN                 0.128617
MARCO ANTONIO CASTA√ëEDA FLORES             0.117899
MARIA DEL ROSARIO LOPEZ ESCOBAR DE PAZ     0.117899
ZOILA ERNESTINA MORALES GODOY              0.096463
                                            ...
LESBIA ELIZABETH L√ìPEZ M√âNDEZ              0.010718
EDGAR EFRA√çN FAJARDO DE LA ROSA            0.010718
AURA ELIZABETH MORALES MART√çNEZ            0.010718
MIRIAM CONSUELO CASTA√ëEDA ORELLANA         0.010718
ROSA MAR√çA ZAMORA GONZ√ÅLEZ                 0.010718
Name: count, Length: 4684, dtype: float64

==================================================

--- An√°lisis de la columna: NIVEL ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'NIVEL': 0
üî¢ Valores √∫nicos en 'NIVEL': 1
üîç Primeros 5 valores en 'NIVEL': ['DIVERSIFICADO']
üßπ Valores √∫nicos despu√©s de limpieza en 'NIVEL': ['DIVERSIFICADO']
üìä Distribuci√≥n de clases en 'NIVEL':
NIVEL
DIVERSIFICADO    9330
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'NIVEL':
NIVEL
DIVERSIFICADO    100.0
Name: count, dtype: float64

==================================================

--- An√°lisis de la columna: SECTOR ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'SECTOR': 0
üî¢ Valores √∫nicos en 'SECTOR': 4
üîç Primeros 5 valores en 'SECTOR': ['PRIVADO' 'OFICIAL' 'MUNICIPAL' 'COOPERATIVA']
üßπ Valores √∫nicos despu√©s de limpieza en 'SECTOR': ['PRIVADO' 'OFICIAL' 'MUNICIPAL' 'COOPERATIVA']
üìä Distribuci√≥n de clases en 'SECTOR':
SECTOR
PRIVADO        7955
OFICIAL         990
COOPERATIVA     245
MUNICIPAL       140
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'SECTOR':
SECTOR
PRIVADO        85.262594
OFICIAL        10.610932
COOPERATIVA     2.625938
MUNICIPAL       1.500536
Name: count, dtype: float64

==================================================

--- An√°lisis de la columna: AREA ---
üïµÔ∏è‚Äç‚ôÇÔ∏è N√∫mero de valores nulos en 'AREA': 0
üî¢ Valores √∫nicos en 'AREA': 2
üîç Primeros 5 valores en 'AREA': ['URBANA' 'RURAL']
üßπ Valores √∫nicos despu√©s de limpieza en 'AREA': ['URBANA' 'RURAL']
üìä Distribuci√≥n de clases en 'AREA':
AREA
URBANA    7606
RURAL     1724
Name: count, dtype: int64
üìà Porcentaje de cada clase en 'AREA':
AREA
URBANA    81.521972
RURAL     18.478028
Name: count, dtype: float64

==================================================

In [210]:
df.to_csv('UnifiedData/UnifiedDataV3.csv', index=False)

### Limpieza de Status, Modalidad, Jornada, Plan, Departamental (Diego Hern√°ndez)

In [211]:
# C√≥digo aqu√≠.